@model IEnumerable<ERP.Models.ProductCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewBag.Title = "Index";
}
<p style="padding-left:5px; padding-top:5px;">
    @Html.ActionLink("Create New", "Create",
          null, new { @style = "color:#ffffff;", id = "lnkCreate", @class = "btn btn-success" })
</p>
<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h5 class="panel-title">List Of Product Categories</h5>
    </div>
    <div class="panel-body">
        <table class="table datatable-show-all table-hover table-xs">
            <thead>
                <tr>
                    <th>Unit Name</th>
                    <th>Product Category</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.ActionLink(" ", "Edit", new { vPayId = item.Id }, new { @class = "btn btn-xs text-info  icon-pencil4", @title = "Edit Vendor Payment Details" })
                        @Html.ActionLink(" ", "Details", new { vPayId = item.Id }, new { @class = "btn btn-xs text-info  icon-file-text2" })
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-xs text-danger icon-cross2" title="Delete" href="javascript:deleteFunction(@item.Id)"></a>
                        }
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/plugins/forms/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables_advanced.js"></script>

    <script>
        function deleteFunction(prodId) {
            var Con = confirm("Are you sure want to delete this ?");
            if (Con == true) {
                $.ajax({
                    url: "/ProductCategories/DeleteProductCategory",
                    type: "post",
                    data: {
                        prodId: prodId
                    },
                    dataType: "json",

                    success: function (flag) {
                        console.log(flag);

                        if (flag.flag == true) {
                            window.location = "/ProductCategories/Index";
                            alert("Successfully deleted !");
                        } else {
                            alert(flag.message);
                        }
                    },

                    error: function (xhr) {
                        alert('error');

                    }


                });
            }

        }
    </script>
}