@model DhaliProcurement.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class=" icon-user-check position-left"></i>Client Information Details</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
             <div class="well well-lg">
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ContactPerson):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ContactPerson)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Note):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Note)
                        </dd>
                    </dl>

                    <br />
                </div>
            
            </div>
        </div>
    </div>
</div>
<p>
    <button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='@Url.Action("Index")';"><i class="icon-circle-left2 position-left"></i> Go back</button>
    @*@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs text-info icon-pencil4", @title = "Edit" }) |*@
    @*@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "btn btn-xs text-danger icon-cross2", @title = "Delete" })*@

</p>
