@*@model PagedList.IPagedList<AuditReport.Models.Client>
    @using PagedList.Mvc;*@
@model IEnumerable<DhaliProcurement.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><i class=" icon-users4 position-left"></i>Client List</h5><hr />
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <p>
            <div class="col-md-3">
                @Html.ActionLink("Create Client", "Create", null, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Create Client", "Create", null, new { @class = "btn btn-info", @style = "background-color: grey;border: none;" })*@
            </div>

            <!--Added by Nabid on 19 OCT 17-->
            <div class="col-md-6">
                @using (@Html.BeginForm("Index", "Clients", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Client", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownList("ClientId", null, "--Select--", new { @class = "form-control select2", @required = "required", @Id = "ClientId" })
                            </div>
                            @*<input value="Search" class="btn btn-primary" type="submit" style="background-color: grey;border: none;" />*@
                            <input value="Search" class="btn btn-info btn-xs pull-left bg-slate" type="submit" />
                        </div>
                    </div>

                }
            </div>
            <!--End-->

        </p>
        <table class="table table-responsive table-bordered  datatable-show-all">
            <thead>
                <tr class="bg-slate">
                    <th class="col-xs-1">SL.No.</th>
                    <th class="col-lg-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th  class="col-lg-3">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th  class="col-lg-1">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ContactPerson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>*@
                    <th  class="col-lg-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    counter++;
                    <tr>
                        <td><label>@counter</label></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ContactPerson)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>*@
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-xs text-info icon-pencil4", @title = "Edit" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-xs text-info  icon-file-text2", @title = "Details" })
                            @*@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-xs text-danger icon-cross2", @title = "Delete" })*@
                            @if (User.IsInRole("Management"))
                            {
                                <a class="btn btn-xs text-danger icon-cross2" title="Delete" href="javascript:deleteFunction( @item.Id)"></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @*<p>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </p>


        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@

</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Plugins/select2/select2.min.js"></script>
    <script>
        $(".select2").select2();

        function deleteFunction(ClientId) {
            var Con = confirm("are you sure want to delete this ?");
            if (Con == true) {
                $.ajax({
                    url: "/Clients/DeleteClient",
                    type: "post",
                    data: {
                        ClientId: ClientId
                    },
                    dataType: "json",

                    success: function (flag) {
                        console.log(flag);

                        if (flag.flag == true) {
                            alert("Successfully deleted !");
                            window.location = "/Clients/Index";
                        } else {
                            alert(flag.message);
                        }
                    },

                    error: function (xhr) {
                        alert('error');

                    }


                });
            }

        }
    </script>
    <script src="~/Scripts/data Table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/data Table/datatables_advanced.js"></script>
}