
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Materials Entry</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <table class="table">
                        <tr class="col-lg-8">
                            <td class="col-lg-2">Project</td>
                            <td class="col-lg-10">
                                @*@Html.TextBox("TNo", "", new { @class = "form-control" })*@
                                @Html.DropDownList("ProjectId", null, "--Select--", htmlAttributes: new { @id = "ProjectId", @class = "form-control select2", @style = "width: 500px !important" })
                            </td>
                        </tr>
                        <tr class="col-lg-8">
                            <td class="col-lg-2">Site</td>
                            <td class="col-lg-10">
                                @Html.DropDownList("SiteId", null, "--Select--", htmlAttributes: new { @id = "SiteId", @class = "form-control select2", @style = "width: 500px !important" })
                            </td>
                        </tr>
                        <tr class="col-lg-8">
                            <td class="col-lg-1">Date</td>
                            <td class="col-lg-10" style="padding-left:60px;">
                                @Html.TextBox("EDate", "", new { @class = "form-control datepicker" })
                            </td>
                        </tr>
                    </table>

                    <hr />
                    <br />
                    <div class="details well" style=" border 1px solid black;">
                        <h4>Items Entry</h4>
                        <div class="jumbotron" style="padding:10px;">
                            <table style="width: 100%;" class="table-responsive">
                                <tr>
                                    @*<td style="font-size: 15px; font-weight: bold;">Sl. No.</td>*@
                                    <td style="font-weight: bold;" class="col-lg-1">Required Material</td>
                                    <td class="col-lg-3">
                                        @Html.DropDownList("ItemName", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ItemName" })
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Unit</td>
                                    <td class="col-lg-3">
                                        @Html.TextBox("Unit", "", new { @disabled = "disabled", @class = "form-control", @id = "UnitName" })
                                        <input type="hidden" value="" id="UnitId" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Req. No.</td>
                                    <td class="col-lg-3">
                                        @Html.DropDownList("ReqNo", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ReqNo" })
                                        <input type="hidden" value="" id="RCode" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="error" id="ItemName_Error" style="padding-left:10px;">Item name required</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="error" id="ReqNo_Error" style="padding-left:10px;">Req No. required</span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="col-lg-1">PO No.</td>
                                    <td class="col-lg-3">
                                        @Html.DropDownList("PONo", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "PONo" })
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Vendor Name</td>
                                    <td class="col-lg-3">
                                        <input type="text" class="form-control" value="" id="VendorName" disabled="disabled" />
                                        <input type="hidden" value="" id="VendorId" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Total Material</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="TotalMaterial" class="form-control" disabled="disabled" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span class="error" id="PONo_Error" style="padding-left:10px;">PO No. required</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="col-lg-1">Previous Received Qty</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="PreviousQty" class="form-control" disabled="disabled" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Remaining Qty</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="RemainingQty" class="form-control" disabled="disabled" />
                                        <input type="hidden" id="POQty" class="form-control" disabled="disabled" />
                                        <input type="hidden" id="PORcv" class="form-control" disabled="disabled" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Challan No.</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="ChallanNo" class="form-control" />
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> </td>
                                    <td><span class="error" id="ChallanNo_Error" style="padding-left:10px;">Challan No. required</span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="col-lg-1">Challan Date</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="ChallanDate" class="form-control datepicker" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Material Entry(Qty)</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="MaterialEntry" class="form-control" name="ItemEntry" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">Unit Price</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="UnitPrice" class="form-control" disabled="disabled" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="error" id="MaterialEntry_Error" style="padding-left:10px;">Material Entry required</span> </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="col-lg-1">Cost</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="Cost" class="form-control" disabled="disabled" />
                                    </td>
                                    <td style="font-weight: bold;" class="col-lg-1">PO Qty</td>
                                    <td class="col-lg-3">
                                        <input type="text" id="ItemPOQuantity" class="form-control" disabled="disabled" />
                                    </td>
                                    <td>
                                      
                                    </td>
                                    <td class="col-lg-3">
                                        <button type="button" id="addNewRow" class="btn btn-info" style="background-color: grey;border: none;"><i class="glyphicon glyphicon-plus"></i></button>
                                        @*<input type="button" id="addNewRow" value="ADD" class="btn btn-primary btn-sm" style="background-color: grey;border: none;" />*@
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <div class="table-responsive scrolling">
                                <table class="Resource-list table table-bordered" id="RequisitionDetails">
                                    <thead>
                                        <tr class="bg-grey">
                                            @*<th>Sl. No.</th>*@
                                            <th>Required Material</th>
                                            <th>Unit</th>
                                            <th>Req. No.</th>
                                            <th>PO No.</th>
                                            <th>Vendor Name</th>
                                            <th>Total Material</th>
                                            <th>Previous Received Qty</th>
                                            <th>Remaining Qty</th>
                                            <th>Challan No.</th>
                                            <th>Challan Date</th>
                                            <th>Material Entry(Qty)</th>
                                            <th>Unit Price</th>
                                            <th>Cost</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" , @style = "background-color: grey;border: none;" })*@
            <button type="button" id="SaveItem" class="btn btn-primary"><i class="icon-add position-left"></i>Create</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="detailForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staffModalTitle">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="ModalTaskId" />
                            <input type="hidden" id="ProjectId" value="" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Item Name", htmlAttributes: new
                       {
                           @class = "control-label col-md-2"@*, @style="font-weight:bold;"*@ })
                            <div class="col-md-10">
                                @Html.DropDownList("ItemName", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalItemName" })
                                <span class="error" id="ModalItemName_Error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="hidden" id="modalunitId" />
                                @Html.TextBox("ModalUnitName", null, new { @class = "form-control", @disabled = "disabled" })
                                @*@Html.DropDownList("Unit", null, "Select unit", htmlAttributes: new { @class = "form-control select2", @id = "ModalUnit", @data_required = "required", @style = "width: 150px;" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Req No", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ReqNo", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalReqNo" })
                                <span class="error" id="ModalReqNo_Error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("PO No", htmlAttributes: new
                       {
                           @class = "control-label col-md-2"@*, @style="font-weight:bold;"*@ })
                            <div class="col-md-10">
                                @Html.DropDownList("PONo", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalPONo" })
                                <span class="error" id="ModalPONo_Error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Vendor Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                <input type="hidden" id="ModalVendorId" />
                                @Html.TextBox("ModalVendorName", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Total Material", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalTotalMaterial", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Previos Received Qty", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalPreviousQty", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Remaining Qty", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalRemainingQty", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Challan No", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalChallanNo", null, new { @class = "form-control" })
                                <span class="error" id="ModalChallanNo_Error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Challan Date", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalChallanDate", null, new { @class = "form-control datepicker" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Material Entry", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalMaterialEntry", null, new { @class = "form-control" })
                                <span class="error" id="ModalMaterialEntry_Error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalUnitPrice", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Cost", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalCost", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" id="ModalDetailSave">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"  id="ModalClose">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var counter = 0;
    var selRow;
    var taskCounter = 0;

    $(document).ready(function () {
        //$(".datepicker").datepicker({
        //    dateFormat: 'dd/mm/yyyy',
        //    autoclose: true,
        //    changeYear: true
        //});

        $('#SiteId').attr("disabled", "true");
        $("#ItemName").attr("disabled", "true");
        $("#ReqNo").attr("disabled", "true");
        $("#PONo").attr("disabled", "true");

        $('#ItemName_Error').hide();
        $('#ReqNo_Error').hide();
        $('#PONo_Error').hide();
        $('#ChallanNo_Error').hide();
        $('#MaterialEntry_Error').hide();

        RebindDatePicker();
    });

    $('#ProjectId').change(function () {
        var id = $('#ProjectId option:selected').val();
        if ($('#ProjectId option:selected').text() == "--Select--") {
            $('#SiteId').empty();
            $("#ItemName").empty();
            $('#ReqNo').empty();
            $("#PONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#SiteId').html(sites);
            $('#ItemName').html(sites);
            $('#ProjectManager').val("");
            $('#UnitId').val("");
            $('#UnitName').val("");
            $('#ReqNo').html(sites);
            $('#PONo').html(sites);
            $('#VendorName').val("");
            $('#VendorId').val("");
            $('#POQty').val("");
            $('#PORcv').val("");
            $('#Cost').val("");
            $('#TotalMaterial').val("");
            $('#PreviousQty').val("");
            $('#RemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#UnitPrice').val("");
            $('#ItemPOQuantity').val("");
        }
        else {
            $.ajax({
                url: "/MaterialsEntry/GetSites",
                type: "post",
                data: {
                    ProjectId: id
                },
                dataType: "json",
                success: function (data) {
                    $('#SiteId').removeAttr("disabled");

                    $('#SiteId').empty();
                    $("#ItemName").empty();
                    $('#ReqNo').empty();
                    $("#PONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    $('#ItemName').html(sites);
                    $('#UnitId').val("");
                    $('#UnitName').val("");
                    $('#ReqNo').html(sites);
                    $('#PONo').html(sites);
                    $('#VendorName').val("");
                    $('#VendorId').val("");
                    $('#POQty').val("");
                    $('#PORcv').val("");
                    $('#Cost').val("");
                    $('#TotalMaterial').val("");
                    $('#PreviousQty').val("");
                    $('#RemainingQty').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");
                    $('#UnitPrice').val("");
                    $('#ItemPOQuantity').val("");


                    $('#ProjectManager').val(data.manager);
                    var listOfSites = data.Sites.length;

                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#SiteId').html(sites);

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }

    });

    $("#SiteId").change(function () {
        var SiteId = $('#SiteId  option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();

        if ($('#SiteId option:selected').text() == "--Select--") {
            $("#ItemName").empty();
            $('#ReqNo').empty();
            $("#PONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#ItemName').html(sites);
            $('#UnitId').val("");
            $('#UnitName').val("");
            $('#ReqNo').html(sites);
            $('#PONo').html(sites);
            $('#VendorName').val("");
            $('#VendorId').val("");
            $('#POQty').val("");
            $('#PORcv').val("");
            $('#Cost').val("");
            $('#TotalMaterial').val("");
            $('#PreviousQty').val("");
            $('#RemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#UnitPrice').val("");
            $('#ItemPOQuantity').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetItemList",
                data: { SiteId, ProjectId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ItemName').removeAttr("disabled");

                    $("#ItemName").empty();
                    $('#ReqNo').empty();
                    $("#PONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    //$('#ItemName').html(sites);
                    $('#UnitId').val("");
                    $('#UnitName').val("");
                    $('#ReqNo').html(sites);
                    $('#PONo').html(sites);
                    $('#VendorName').val("");
                    $('#VendorId').val("");
                    $('#POQty').val("");
                    $('#PORcv').val("");
                    $('#Cost').val("");
                    $('#TotalMaterial').val("");
                    $('#PreviousQty').val("");
                    $('#RemainingQty').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");
                    $('#UnitPrice').val("");
                    $('#ItemPOQuantity').val("");

                    var listOfitems = data.Items.length;
                    var items = "<select id='ItemName'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ItemName').html(items);

                }

            });
        }

    });

    $("#ItemName").change(function () {
        var ItemId = $('#ItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }


        if ($('#ItemName option:selected').text() == "--Select--") {
            $('#ReqNo').empty();
            $("#PONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#UnitId').val("");
            $('#UnitName').val("");
            $('#ReqNo').html(sites);
            $('#PONo').html(sites);
            $('#VendorName').val("");
            $('#VendorId').val("");
            $('#POQty').val("");
            $('#PORcv').val("");
            $('#Cost').val("");
            $('#TotalMaterial').val("");
            $('#PreviousQty').val("");
            $('#RemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#UnitPrice').val("");
            $('#ItemPOQuantity').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetUnit",
                data: { ItemId, ProjectId, SiteId },
                datatype: "json",
                traditional: true,
                success: function (data) {

                    //$('#TotalRequired').val(data.TotalRequired);
                    $('#ReqNo').removeAttr("disabled");

                    $('#ReqNo').empty();
                    $("#PONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    $('#UnitId').val("");
                    $('#UnitName').val("");                  
                    $('#PONo').html(sites);
                    $('#VendorName').val("");
                    $('#VendorId').val("");
                    $('#POQty').val("");
                    $('#PORcv').val("");
                    $('#Cost').val("");
                    $('#TotalMaterial').val("");
                    $('#PreviousQty').val("");
                    $('#RemainingQty').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");
                    $('#UnitPrice').val("");
                    $('#ItemPOQuantity').val("");

                    $('#UnitId').val(data.UnitId);
                    $('#UnitName').val(data.UnitName);
                    var listOfitems = data.ReqList.length;
                    var items = "<select id='ReqNo'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.ReqList[i].Value + '>' + data.ReqList[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ReqNo').html(items);


                }

            });
        }

    });

    //$("#ReqNo").change(function () {
    //    var ItemId = $('#ItemName option:selected').val();
    //    var ProjectId = $('#ProjectId option:selected').val();
    //    var SiteId = $('#SiteId option:selected').val();
    //    var ReqNo = $('#ReqNo option:selected').val();

    //    if (ProjectId == "" && SiteId == "") {
    //        alert('Please Select Project Id and Site Id');
    //    }

    //    $.ajax({
    //        type: "post",
    //        url: "/MaterialsEntry/GetVendor",
    //        data: { ItemId, ProjectId, SiteId, ReqNo },
    //        datatype: "json",
    //        traditional: true,
    //        success: function (data) {
    //            $('#VendorName').val(data.vendorName);
    //            $('#VendorId').val(data.VendorId);
    //            $('#TotalMaterial').val(data.TotalMaterial);
    //            $('#RemainingQty').val(data.RemainingQty);
    //            $('#UnitPrice').val(data.UnitPrice);
    //            var previousRemaining = data.TotalMaterial - data.RemainingQty;
    //            $('#PreviousQty').val(previousRemaining);
    //        }

    //    });
    //});

    $("#ReqNo").change(function () {
        var ItemId = $('#ItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();
        var ReqNo = $('#ReqNo option:selected').val();

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }
        if ($('#ReqNo option:selected').text() == "--Select--") {
            $("#PONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#PONo').html(sites);
            $('#VendorName').val("");
            $('#VendorId').val("");
            $('#POQty').val("");
            $('#PORcv').val("");
            $('#Cost').val("");
            $('#TotalMaterial').val("");
            $('#PreviousQty').val("");
            $('#RemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#UnitPrice').val("");
            $('#ItemPOQuantity').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetPO",
                data: { ItemId, ProjectId, SiteId, ReqNo },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //$('#VendorName').val(data.vendorName);
                    //$('#VendorId').val(data.VendorId);
                    $("#PONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    $('#VendorName').val("");
                    $('#VendorId').val("");
                    $('#POQty').val("");
                    $('#PORcv').val("");
                    $('#Cost').val("");
                    $('#TotalMaterial').val("");
                    $('#PreviousQty').val("");
                    $('#RemainingQty').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");
                    $('#UnitPrice').val("");
                    $('#ItemPOQuantity').val("");


                    $('#TotalMaterial').val(data.TotalMaterial);
                    //$('#PreviousQty').val(data.PreviousReceived);
                    $('#UnitPrice').val(data.UnitPrice);
                    //var Remaining = data.TotalMaterial - data.PreviousReceived;

                    //$('#RemainingQty').val(Remaining);
                    $('#PONo').removeAttr("disabled");
                    //alert('test');
                    var listOfitems = data.POs.length;
                    //alert(listOfitems);
                    var items = "<select id='PONo'>";
                    items = items + '<option value="">--Select--</option>';

                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.POs[i].Value + '>' + data.POs[i].Text + '</option>';
                    }

                    items = items + '</select>';
                    $('#PONo').html(items);


                }

            });
        }

    })

    $("#PONo").change(function () {
        var ItemId = $('#ItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();
        var ReqNo = $('#ReqNo option:selected').val();
        var PONo = $('#PONo option:selected').val();

        //alert(PONo);

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }

        if ($('#PONo option:selected').text() == "--Select--") {
            $('#VendorName').val("");
            $('#VendorId').val("");
            $('#POQty').val("");
            $('#PORcv').val("");
            $('#Cost').val("");          
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#ItemPOQuantity').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetVendor",
                data: { ItemId, ProjectId, SiteId, ReqNo, PONo },
                datatype: "json",
                traditional: true,
                success: function (data) {

                    $('#VendorName').val("");
                    $('#VendorId').val("");
                    $('#POQty').val("");
                    $('#PORcv').val("");
                    $('#Cost').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");                   
                    

                    $('#VendorName').val(data.vendorName);
                    $('#VendorId').val(data.VendorId);
                    //alert('data.POQuantity: ' + data.POQuantity);
                    

                    $('#ItemPOQuantity').val(data.POQuantity);

                    $('#POQty').val(data.POQuantity);
                    $('#PORcv').val(data.POReceived);
                    
                    $('#PreviousQty').val(data.POReceived);

                    var totalMaterial = $('#TotalMaterial').val();

                    var Remaining = totalMaterial - data.POReceived;
                  

                    $('#RemainingQty').val(Remaining);
                  
                    
                    //$('#MaterialEntry').val(data.POQuantity);


                    var entry = $('#MaterialEntry').val();
                    var unitprice = $('#UnitPrice').val();
                    var totalPrice = entry * unitprice;
                    $('#Cost').val(totalPrice);
                }

            });
        }

    });



    $(document).on({
        'change': function () {
            var entry = $(this).val();
            //PO Receive calculation
            //var PoQty = $('#POQty').val();
            //var POPrev = $('#PORcv').val();
            //var newPOQuantity = parseInt(POPrev) + parseInt(entry);
            var unitprice = $('#ModalUnitPrice').val();
            var totalPrice = entry * unitprice;
            if (isNaN(totalPrice)) {
                //alert('Material Entry must be a numeric value!!')
                $('#ModalMaterialEntry').val("");
                $('#ModalCost').val("");
            }
            else {
                $('#ModalCost').val(totalPrice);
            }

        }
    }, 'input[name=ModalMaterialEntry]');

    $(document).on({
        'change': function () {
            var entry = $(this).val();
            //alert('Material Entry :' + entry);

            //PO Receive calculation
            var PoQty = $('#POQty').val();
            var POPrev = $('#PORcv').val();
            var newPOQuantity = parseInt(POPrev) + parseInt(entry);
            //if (newPOQuantity > PoQty) {
            //    alert('This entry already exceeds the PO quantity!');
            //    $('#MaterialEntry').val("");
            //}
            //else {
            var unitprice = $('#UnitPrice').val();
            var totalPrice = entry * unitprice;
            if (isNaN(totalPrice)) {
                alert('Material Entry must be a numeric value!!')
                $('#MaterialEntry').val("");
                $('#Cost').val("");
            }
            else {
                $('#Cost').val(totalPrice);
            }
            //}

        }
    }, 'input[name=ItemEntry]');

    $(document).on({
        'change': function () {
            var entry = $(this).closest('tr').find("td:eq(10) input.MaterialEntry").val();
            //var row = $(this).closest('tr');

            //alert('entry :' + entry);
            var quantity = $(this).closest('tr').find("td:eq(11) input.UnitPrice").val();
            //alert('quantity :' + quantity);
            var totalPrice = entry * quantity;


            if (isNaN(totalPrice)) {
                alert('Material entry must be a numeric value!!')
                //$('#TQPrice').val("");
                //$('#TotalPrice').val("");
            }
            else {
                $(this).closest('tr').find("td:eq(12) input.Cost").val(totalPrice);
            }

        }
    }, 'input[name=MaterialEntry]');



    //add new row
    $('#addNewRow').click(function (event) {
        event.preventDefault();
        counter++;
        var isAllValid = true;
        //var ProjectId = $('#ProjectId option:selected').val();
        ////alert('ProjectID: ' + ProjectId);
        //var ProjectName = $('#ProjectId option:selected').text();
        ////alert('ProjectName: ' + ProjectName);
        //var SiteId = $('#SiteId option:selected').val();
        //var SiteName = $('#SiteId option:selected').text();
        var ItemId = $('#ItemName option:selected').val();
        var ItemName = $('#ItemName option:selected').text();

        var UnitId = $('#UnitId').val();
        var UnitName = $('#UnitName').val();

        var RCode = $('#ReqNo option:selected').val();
        var RCodename = $('#ReqNo option:selected').text();

        var RCodeName = $('#ReqNo option:selected').text();
        //alert('Requisition: ' + RCode);

        //var Proc_RequisitionDetId = $('#Proc_RequisitionDetId').val();
        //alert('ProcRequisitionDetId: ' + Proc_RequisitionDetId);

        //var Qty = $('#Qty').val();
        //var PONo = $('#PONo').val();
        //var PONo = $('#PONo option:selected').val();
        var PONo = $('#PONo option:selected').val();
        var PONoName = $('#PONo option:selected').text();
        //alert(Unit);
        //alert(UnitId);
        var VendorId = $('#VendorId').val();
        //alert('Vendor Id: ' + VendorId);
        var VendorName = $('#VendorName').val();
        //alert('Vendor Name: ' + VendorName);
        var TotalMaterial = $('#TotalMaterial').val();
        var PreviousQty = $('#PreviousQty').val();
        var POQuantity = $('#POQty').val();

        var RemainingQty = $('#RemainingQty').val();
        var ChallanNo = $('#ChallanNo').val();
        var ChallanDate = $('#ChallanDate').val();
        //alert(ReqQty);
        var MaterialEntry = $('#MaterialEntry').val();
        //alert('TotalPrice: ' + TotalPrice);
        var UnitPrice = $('#UnitPrice').val();
        var Cost = $('#Cost').val();

        if (ItemName == "" || ItemName == "--Select--") {
            $('#ItemName_Error').show();
            isAllValid = false;
        }
        else {
            $('#ItemName_Error').hide();
        }

        if (RCode == "" || RCodename == "--Select--") {
            $('#ReqNo_Error').show();
            isAllValid = false;
        }
        else {
            $('#ReqNo_Error').hide();
        }
        if (PONo == "" || $('#PONo option:selected').text() == "--Select--") {
            $('#PONo_Error').show();
            isAllValid = false;
        }
        else {
            $('#PONo_Error').hide();
        }
        if (ChallanNo == "") {
            $('#ChallanNo_Error').show();
            isAllValid = false;
        }
        else {
            $('#ChallanNo_Error').hide();
        }
        if (ChallanNo != "") {
            if (ChallanNo.length > 50) {
                $('#ChallanNo_Error').text("Challan No. cannot be greater than 50 characters!").show();
                isAllValid = false;
            }
            else {
                $('#ChallanNo_Error').hide();
            }
        }
        //if (RemainingQty <= 0) {
        //    alert('This material has been received completely! Add another item!');
        //    isAllValid = false;
        //}
        if (MaterialEntry == "") {
            $('#MaterialEntry_Error').show();
            isAllValid = false;
        }
        else {
            if (isNaN(MaterialEntry)) {
                $('#MaterialEntry_Error').text("Material Entry must be a numeric value!").show();
                isAllValid = false;
            }
            else {
                if (MaterialEntry.length > 18) {
                    $('#MaterialEntry_Error').text("Material Entry cannot be greater than 18 characters!").show();
                    isAllValid = false;
                }
                else {
                    $('#MaterialEntry_Error').hide();
                }
            }
        }

        //if (POQuantity - MaterialEntry<0) {
        //    alert('Material entry can not be greater than PO quantity');
        //    isAllValid = false;
        //}



        $('table.Resource-list tbody tr').each(function () {
            var Item = $(this).find("td input[name=ChallanNo]").val();
            //var VName = $(this).find("td input[name=VendorName]").val();
            if (ChallanNo.toUpperCase() == Item.toUpperCase()) {
                alert('This challan no. already exists!');
                isAllValid = false;
            }
        });

        if (isAllValid) {
            taskCounter++;
            var newRow = jQuery('<tr>'
                //+ '<td><input value="' + ProjectId + '" type="hidden" name="ProjectId"/><label>' + ProjectName + '<label></td>'
                //+ '<td><input value="' + SiteId + '" type="hidden" name="SiteId"/><label>' + SiteName + '<label></td>'
                + '<td><input type="hidden" name="TaskId" value="' + taskCounter + '"/><input value="' + ItemId + '" type="hidden" name="ItemId"/><label name="label_ItemName" style="width:150px;">' + ItemName + '</label><input class="form-control" value="' + ItemName + '" readonly="true" type="hidden" name="ItemName"  style="width:90px;"/>'
                + '<td><input value="' + UnitId + '" type="hidden" name="UnitId"/><label name="label_UnitName">' + UnitName + '</label><input class="form-control" value="' + UnitName + '" readonly="true" type="hidden" name="UnitName"  style="width:90px;"/></td>'
                + '<td><input value="' + RCode + '" type="hidden" name="RCode" class="form-control" style="width:90px;"/><label name="label_RCodeName">' + RCodeName + '</label><input value="' + RCodeName + '" type="hidden" name="RCodeName" class="form-control" style="width:90px;"/></td>'
                + '<td><input value="' + PONo + '" type="hidden" name="PayOrderNo" class="form-control" style="width:90px;"/><label name="label_PONo">' + PONoName + '</label></td>'
                + '<td><input value="' + VendorId + '" type="hidden" name="VendorId"/><label name="label_VendorName">' + VendorName + '</label><input class="form-control" value="' + VendorName + '" readonly="true" type="hidden" name="VendorName"  style="width:90px;"/></td>'
                + '<td><input value="' + TotalMaterial + '" type="hidden" name="TotalMaterial" class="form-control" style="width:90px;"/><label name="label_TotalMaterial">' + TotalMaterial + '</label></td>'
                + '<td><input value="' + PreviousQty + '" type="hidden" name="PreviousQty" class="form-control" style="width:90px;"/><label name="label_PreviousQty">' + PreviousQty + '</label></td>'
                + '<td><input value="' + RemainingQty + '" type="hidden" name="RemainingQty" class="form-control" style="width:90px;"/><label name="label_RemainingQty">' + RemainingQty + '</label></td>'
                + '<td><input value="' + ChallanNo + '" type="hidden" name="ChallanNo" class="form-control" style="width:90px;"/><label name="label_ChallanNo">' + ChallanNo + '</label></td>'
                + '<td><input value="' + ChallanDate + '" type="hidden" name="ChallanDate" class="form-control datepicker" style="width:90px;"/><label name="label_ChallanDate">' + ChallanDate + '</label></td>'
                + '<td><input value="' + MaterialEntry + '" type="hidden" name="MaterialEntry" class="form-control MaterialEntry" style="width:90px;" disabled="disabled"/><label name="label_MaterialEntry">' + MaterialEntry + '</label></td>'
                + '<td><input value="' + UnitPrice + '" type="hidden" name="UnitPrice" class="form-control UnitPrice" style="width:90px;"/><label name="label_UnitPrice">' + UnitPrice + '</label></td>'
                + '<td><input value="' + Cost + '" type="hidden" name="Cost" class="form-control Cost"  style="width:90px;" disabled="disabled"/><label name="label_Cost">' + Cost + '</label></td>'
                + '<td>'
                + '<button type="button" id="editSite" class="btn text-primary-400 btn-flat btn-icon btn-rounded  btn-xs editSite " data-toggle="modal" data-target="#detailForm"><i class="icon-pencil"></i></button>'
                // + '<button class="btn  text-warning-600 btn-flat btn-icon btn-rounded"  onclick="$(this).parent().parent().remove();"><i class="icon-cross"></i></button>'
                + '<button type="button" class="btn text-warning-600 btn-flat btn-icon btn-rounded deleteClick" value="Delete"><i class="icon-cross"></i></button>'
                + '</td></tr>');

            jQuery('table.Resource-list tbody').append(newRow);


            if (taskCounter > 0) {
                $('#ProjectId').attr("disabled", "true");
                $('#SiteId').attr("disabled", "true");

            }


            $('.deleteClick').click(function () {

                $(this).parent().parent().remove();

                taskCounter--;
                if (taskCounter == 0) {
                    $('#ProjectId').removeAttr("disabled");
                    $('#SiteId').removeAttr("disabled");
                }
            });

            //$('#ProjectId').val("");
            //$('#SiteId').val("");
            $('#ReqNo').val("");
            $('#ItemName').val("");
            $('#PONo').val("");
            $('#UnitName').val("");
            $('#VendorName').val("");
            $('#TotalMaterial').val("");
            $('#PreviousQty').val("");
            $('#RemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#UnitPrice').val("");
            $('#ItemPOQuantity').val("");
            $('#Cost').val("");
            $("#PONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#PONo').html(sites);
            //$('#SiteId').attr("disabled", true);
            $('#ReqNo').attr("disabled", true);
            //$('#ItemName').attr("disabled", true);
            RebindDatePicker();

            $('.editSite').click(function () {
                var row = $(this).closest('tr');
                selRow = $(this).closest('tr');

                var TaskId = row.find('input[name=TaskId]').val();
                var itemName = row.find('input[name=ItemName]').val();
                var itemId = row.find('input[name=ItemId]').val();
                var UnitName = row.find('input[name=UnitName]').val();
                var UnitId = row.find('input[name=UnitId]').val();
                var RCode = row.find('input[name=RCode]').val();
                var PayOrderNo = row.find('input[name=PayOrderNo]').val();
                var VendorId = row.find('input[name=VendorId]').val();
                var VendorName = row.find('input[name=VendorName]').val();
                var TotalMaterial = row.find('input[name=TotalMaterial]').val();
                var PreviousQty = row.find('input[name=PreviousQty]').val();
                var RemainingQty = row.find('input[name=RemainingQty]').val();
                var ChallanNo = row.find('input[name=ChallanNo]').val();
                var ChallanDate = row.find('input[name=ChallanDate]').val();
                var MaterialEntry = row.find('input[name=MaterialEntry]').val();
                var UnitPrice = row.find('input[name=UnitPrice]').val();
                var Cost = row.find('input[name=Cost]').val();

                var ProjectId = $('#ProjectId').val();
                var SiteId = $('#SiteId').val();

                RebindModalfields(ProjectId, SiteId, itemId, RCode, PayOrderNo);

                //$('#ModalItemName').val(SiteName);
                $('#ModalTaskId').val(TaskId);
                //$('#ModalItemName').val(itemId);
                $('#modalunitId').val(UnitId);
                $('#ModalUnitName').val(UnitName);
                //$('#ModalReqNo').val(RCode);
                //$('#ModalPONo').val(PayOrderNo);
                $('#ModalVendorName').val(VendorName);
                $('#ModalVendorId').val(VendorId);
                $('#ModalTotalMaterial').val(TotalMaterial);
                $('#ModalPreviousQty').val(PreviousQty);
                $('#ModalRemainingQty').val(RemainingQty);
                $('#ModalChallanNo').val(ChallanNo);
                $('#ModalChallanDate').val(ChallanDate);
                $('#ModalMaterialEntry').val(MaterialEntry);
                $('#ModalUnitPrice').val(UnitPrice);
                $('#ModalCost').val(Cost);

            });

        }

    });

    function RebindModalfields(ProjectId, SiteId, itemId, RCode, PayOrderNo) {
        $.ajax({
            type: "post",
            url: "/MaterialsEntry/RebindModal",
            data: { ProjectId, SiteId, itemId, RCode },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var listOfitems = data.Items.length;
                var Items = "<select id=''>";
                Items = Items + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfitems; i++) {
                    Items = Items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                }
                Items = Items + '</select>';
                $('#ModalItemName').html(Items);
                $('#ModalItemName').val(itemId);

                var listOfReq = data.ReqList.length;
                var Items = "<select id=''>";
                Items = Items + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfReq; i++) {
                    Items = Items + '<option value=' + data.ReqList[i].Value + '>' + data.ReqList[i].Text + '</option>';
                }
                Items = Items + '</select>';
                $('#ModalReqNo').html(Items);
                $('#ModalReqNo').val(RCode);

                var listOfPOs = data.POs.length;
                var Items = "<select id=''>";
                Items = Items + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfPOs; i++) {
                    Items = Items + '<option value=' + data.POs[i].Value + '>' + data.POs[i].Text + '</option>';
                }
                Items = Items + '</select>';
                $('#ModalPONo').html(Items);
                //alert(PayOrderNo);

                $('#ModalPONo').val(PayOrderNo);
            }

        });
    }


    $("#ModalItemName").change(function () {
        var ItemId = $('#ModalItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }

        if ($('#ModalItemName option:selected').text() == "--Select--") {
            $('#ModalReqNo').empty();
            $("#ModalPONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#modalunitId').val("");
            $('#ModalUnitName').val("");
            $('#ModalReqNo').html(sites);
            $('#ModalPONo').html(sites);
            $('#ModalVendorName').val("");
            $('#ModalVendorId').val("");
            //$('#POQty').val("");
            //$('#PORcv').val("");
            $('#ModalCost').val("");
            $('#ModalTotalMaterial').val("");
            $('#ModalPreviousQty').val("");
            $('#ModalRemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#ModalUnitPrice').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetUnit",
                data: { ItemId, ProjectId, SiteId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ModalReqNo').empty();
                    $("#ModalPONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    $('#ModalPONo').html(sites);
                    $('#ModalVendorName').val("");
                    $('#ModalVendorId').val("");
                    //$('#POQty').val("");
                    //$('#PORcv').val("");
                    $('#ModalCost').val("");
                    $('#ModalTotalMaterial').val("");
                    $('#ModalPreviousQty').val("");
                    $('#ModalRemainingQty').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");
                    $('#ModalUnitPrice').val("");

                    $('#modalunitId').val(data.UnitId);
                    $('#ModalUnitName').val(data.UnitName);
                    //$('#TotalRequired').val(data.TotalRequired);
                    //$('#ReqNo').removeAttr("disabled");
                    var listOfitems = data.ReqList.length;
                    var items = "<select id='ModalReqNo'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.ReqList[i].Value + '>' + data.ReqList[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ModalReqNo').html(items);


                }

            });
        }

    });


    $("#ModalReqNo").change(function () {
        var ItemId = $('#ModalItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();
        var ReqNo = $('#ModalReqNo option:selected').val();

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }
        if ($('#ModalReqNo option:selected').text() == "--Select--") {
            $("#ModalPONo").empty();
            var sites = "<select id='sites'><option value=''>--Select--</option></select>";
            $('#ModalPONo').html(sites);
            $('#ModalVendorName').val("");
            $('#ModalVendorId').val("");
            //$('#POQty').val("");
            //$('#PORcv').val("");
            $('#ModalCost').val("");
            $('#ModalTotalMaterial').val("");
            $('#ModalPreviousQty').val("");
            $('#ModalRemainingQty').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
            $('#ModalUnitPrice').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetPO",
                data: { ItemId, ProjectId, SiteId, ReqNo },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#ModalPONo").empty();
                    var sites = "<select id='sites'><option value=''>--Select--</option></select>";
                    $('#ModalVendorName').val("");
                    $('#ModalVendorId').val("");
                    //$('#POQty').val("");
                    //$('#PORcv').val("");
                    $('#ModalCost').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");

                    $('#ModalTotalMaterial').val(data.TotalMaterial);
                    $('#ModalUnitPrice').val(data.UnitPrice);

                    //$('#ModalPreviousQty').val(data.PreviousReceived);               
                    //var Remaining = data.TotalMaterial - data.PreviousReceived;
                    //$('#ModalRemainingQty').val(Remaining);
                    //$('#PONo').removeAttr("disabled");
                    //alert('test');
                    var listOfitems = data.POs.length;
                    //alert(listOfitems);
                    var items = "<select id='ModalPONo'>";
                    items = items + '<option value="">--Select--</option>';

                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.POs[i].Value + '>' + data.POs[i].Text + '</option>';
                    }

                    items = items + '</select>';
                    $('#ModalPONo').html(items);


                }

            });
        }


    })

    $("#ModalPONo").change(function () {
        var ItemId = $('#ModalItemName option:selected').val();
        var ProjectId = $('#ProjectId option:selected').val();
        var SiteId = $('#SiteId option:selected').val();
        var ReqNo = $('#ModalReqNo option:selected').val();
        var PONo = $('#ModalPONo option:selected').val();

        //alert(PONo);

        if (ProjectId == "" && SiteId == "") {
            alert('Please Select Project Id and Site Id');
        }

        if ($('#ModalPONo option:selected').text() == "--Select--") {
            $('#ModalVendorName').val("");
            $('#ModalVendorId').val("");
            //$('#POQty').val("");
            //$('#PORcv').val("");
            $('#ModalCost').val("");
            $('#ChallanNo').val("");
            $('#ChallanDate').val("");
            $('#MaterialEntry').val("");
        }
        else {
            $.ajax({
                type: "post",
                url: "/MaterialsEntry/GetVendor",
                data: { ItemId, ProjectId, SiteId, ReqNo, PONo },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ModalVendorName').val("");
                    $('#ModalVendorId').val("");
                    //$('#POQty').val("");
                    //$('#PORcv').val("");
                    $('#ModalCost').val("");
                    $('#ChallanNo').val("");
                    $('#ChallanDate').val("");
                    $('#MaterialEntry').val("");

                    $('#ModalVendorName').val(data.vendorName);
                    $('#ModalVendorId').val(data.VendorId);

                    $('#ModalPreviousQty').val(data.POReceived);
                    var Remaining = $('#ModalTotalMaterial').val(); -data.POReceived;
                    $('#ModalRemainingQty').val(Remaining);
                    //alert('data.POQuantity: ' + data.POQuantity);
                    //$('#POQty').val(data.POQuantity);
                    //$('#PORcv').val(data.POReceived);
                    //$('#MaterialEntry').val(data.POQuantity);


                    var entry = $('#ModalMaterialEntry').val();
                    var unitprice = $('#ModalUnitPrice').val();
                    var totalPrice = entry * unitprice;
                    $('#ModalCost').val(totalPrice);
                }

            });
        }


    });

    $('#ModalClose').click(function () {
        $('#ModalItemName_Error').hide();
        $('#ModalReqNo_Error').hide();
        $('#ModalPONo_Error').hide();
        $('#ModalChallanNo_Error').hide();
        $('#ModalMaterialEntry_Error').hide();
    });

    $('#ModalDetailSave').click(function () {
        var isAllValid = true;



        var TaskId = $('#ModalTaskId').val();
        var ItemName = $('#ModalItemName option:selected').text();
        var ItemId = $('#ModalItemName option:selected').val();
        var Unitid = $('#modalunitId').val();
        var UnitName = $('#ModalUnitName').val();
        var ReqNo = $('#ModalReqNo option:selected').val();
        var ModalPONo = $('#ModalPONo option:selected').val();
        var ModalPONoName = $('#ModalPONo option:selected').text();
        var ModalVendorName = $('#ModalVendorName').val();
        var ModalVendorId = $('#ModalVendorId').val();
        var ModalTotalMaterial = $('#ModalTotalMaterial').val();
        var ModalPreviousQty = $('#ModalPreviousQty').val();
        var ModalRemainingQty = $('#ModalRemainingQty').val();
        var ModalChallanNo = $('#ModalChallanNo').val();
        var ModalChallanDate = $('#ModalChallanDate').val();
        var ModalMaterialEntry = $('#ModalMaterialEntry').val();
        var ModalUnitPrice = $('#ModalUnitPrice').val();
        var ModalTotalPrice = ModalUnitPrice * ModalMaterialEntry;


        if (ItemName == "" || ItemName == "--Select--") {
            $('#ModalItemName_Error').text('Item required').show();
            isAllValid = false;
        }
        else {
            $('#ModalItemName_Error').hide();
        }

        if (ReqNo == "" || ReqNo == "--Select--") {
            $('#ModalReqNo_Error').text('Req No. required').show();
            isAllValid = false;
        }
        else {
            $('#ModalReqNo_Error').hide();
        }
        if (ModalPONo == "" || ModalPONo == "--Select--") {
            $('#ModalPONo_Error').text('PO No. required').show();
            isAllValid = false;
        }
        else {
            $('#ModalPONo_Error').hide();
        }
        if (ModalChallanNo == "") {
            $('#ModalChallanNo_Error').text('Challan No. required').show();
            isAllValid = false;
        }
        else {
            $('#ModalChallanNo_Error').hide();
        }
        if (ModalChallanNo != "") {
            if (ChallanNo.length > 50) {
                $('#ModalChallanNo_Error').text("Challan No. cannot be greater than 50 characters!").show();
                isAllValid = false;
            }
            else {
                $('#ModalChallanNo_Error').hide();
            }
        }

        if (ModalMaterialEntry == "") {
            $('#ModalMaterialEntry_Error').text('Material Entry required').show();
            isAllValid = false;
        }
        else {
            $('#ModalMaterialEntry_Error').hide();
        }

       


        if (ModalMaterialEntry != "") {
            if (isNaN(ModalMaterialEntry)) {
                $('#ModalMaterialEntry_Error').text("Material Entry must be a numeric value!").show();
                isAllValid = false;
            }
            else {
                if (ModalMaterialEntry.length > 18) {
                    $('#MaterialEntry_Error').text("Material Entry cannot be greater than 18 characters!").show();
                    isAllValid = false;
                }
                else {
                    $('#ModalMaterialEntry_Error').hide();
                }

            }
        }

       

        $('table.Resource-list tbody tr').each(function () {
            var Itemname = $(this).find("td input[name=ChallanNo]").val();
            var task = $(this).find("td input[name=TaskId]").val();

            //alert(task + "-->" + TaskId);
            if (task != TaskId.trim()) {
                if (ModalChallanNo.trim() == Itemname.trim()) {
                    alert('This Challan No.already exists!');
                    isAllValid = false;
                }
            }
        });

        if (isAllValid) {
            selRow.find('input[name=ItemName]').val(ItemName);
            selRow.find('input[name=ItemId]').val(ItemId);
            selRow.find('input[name=UnitName]').val(UnitName);
            selRow.find('input[name=UnitId]').val(Unitid);
            selRow.find('input[name=RCode]').val(ReqNo);
            selRow.find('input[name=PayOrderNo]').val(ModalPONo);
            selRow.find('input[name=VendorName]').val(ModalVendorName);
            selRow.find('input[name=VendorId]').val(ModalVendorId);
            selRow.find('input[name=TotalMaterial]').val(ModalTotalMaterial);
            selRow.find('input[name=PreviousQty]').val(ModalPreviousQty);
            selRow.find('input[name=RemainingQty]').val(ModalRemainingQty);
            selRow.find('input[name=ChallanNo]').val(ModalChallanNo);
            selRow.find('input[name=ChallanDate]').val(ModalChallanDate);
            selRow.find('input[name=MaterialEntry]').val(ModalMaterialEntry);
            selRow.find('input[name=UnitPrice]').val(ModalUnitPrice);
            selRow.find('input[name=Cost]').val(ModalTotalPrice);

            selRow.find('label[name=label_ItemName]').text(ItemName);
            selRow.find('label[name=label_UnitName]').text(UnitName);
            selRow.find('label[name=label_RCodeName]').text(ReqNo);
            selRow.find('label[name=label_PONo]').text(ModalPONoName);
            selRow.find('label[name=label_VendorName]').text(ModalVendorName);
            selRow.find('label[name=label_TotalMaterial]').text(ModalTotalMaterial);
            selRow.find('label[name=label_PreviousQty]').text(ModalPreviousQty);
            selRow.find('label[name=label_RemainingQty]').text(ModalRemainingQty);
            selRow.find('label[name=label_ChallanNo]').text(ModalChallanNo);
            selRow.find('label[name=label_ChallanDate]').text(ModalChallanDate);
            selRow.find('label[name=label_MaterialEntry]').text(ModalMaterialEntry);
            selRow.find('label[name=label_UnitPrice]').text(ModalUnitPrice);
            selRow.find('label[name=label_Cost]').text(ModalTotalPrice);


            $('#detailForm').modal('hide');
        }


        //totalItemCost();
    });


    $('#SaveItem').click(function (e) {
        //alert('Length:' + $('.Resource-list tr').length)

        if ($('#ProjectId option:selected').text() === "--Select--") {
            alert('Please select project');
            $('#ProjectId option:selected').focus();
        }
        else if ($('#SiteId option:selected').text() === "--Select--") {
            alert('Please select site');
            $('#SiteId option:selected').focus();
        }
        else if ($.trim($('#EDate').val()) === "") {
            alert('Entry date required');
            $('#EDate').focus();
        }
        else if ($('.Resource-list tr').length < 2) {
            alert('Please Add Item to this Entry Form!');
        }
        else {
            CreateSitePlanTask();
        }
    });

    function CreateSitePlanTask() {
        //==========Master Form==========

        //var ProjectId = document.getElementById("ProjectId");
        var ProjectId = $("#ProjectId  option:selected").val();
        //alert('project Id: ' + ProjectId);
        var SiteId = $("#SiteId  option:selected").val();
        //alert('Site Id: ' + SiteId);
        var EDate = $("#EDate").val();
        //alert('EntryDate: ' + EDate);


        //===========Detail Form===========
        var ItemId = document.getElementsByName("ItemId");
        var RCode = document.getElementsByName("RCode");
        var PONo = document.getElementsByName("PayOrderNo");
        var ChallanNo = document.getElementsByName("ChallanNo");
        var ChallanDate = document.getElementsByName("ChallanDate");
        var MaterialEntry = document.getElementsByName("MaterialEntry");
        //var Status = document.getElementsByName("Status");
        var Status = 'A';

        var RequisitionItems = [];
        //alert($('#RequisitionDetails tr').length - 1)

        var tableCounter = $('#RequisitionDetails tr').length - 1;
        //alert('Length: ' + tableCounter);

        for (var i = 0; i < tableCounter; i++) {
            RequisitionItems.push({
                ItemId: ItemId[i].value,
                RCode: RCode[i].value,
                PONo: PONo[i].value,
                ChallanNo: ChallanNo[i].value,
                ChallanDate: ChallanDate[i].value,
                EntryQty: MaterialEntry[i].value,
                //Status: Status[i].value
                Status: Status
            });
            console.log('---------->');
            console.log('ItemId: ' + RequisitionItems[i].ItemId);
            console.log('RCode: ' + RequisitionItems[i].RCode);
            console.log('PONo: ' + RequisitionItems[i].PONo);
            console.log('ChallanNo: ' + RequisitionItems[i].ChallanNo);
            console.log('ChallanDate: ' + RequisitionItems[i].ChallanDate);
            console.log('EntryQty: ' + RequisitionItems[i].EntryQty);
            console.log('Status: ' + RequisitionItems[i].Status);
            console.log('---------->');

        }

        TaskDetails = JSON.stringify({
            RequisitionItems: RequisitionItems,
            ProjectId: ProjectId,
            SiteId: SiteId,
            EDate: EDate
        });

        //alert('Success!!!');
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/MaterialsEntry/CreateMaterialsEntry',
            data: TaskDetails,
            success: function (result) {
                console.log(result);
                if (result.flag === true) {
                    alert("Record save successfully!");

                    $('#ProjectId').val("");
                    $('#SiteId').val("");
                    $('#RequisitionDate').val("");
                    $('#ReqNo').val("");
                    $('#SiteEngineer').val("");
                    $('#ProjectManager').val("");
                    $('#ProjectRemarks').val("");

                    window.location.replace("/MaterialsEntry/Index");


                }
                else {
                    alert(result.message);
                }


            },
            failure: function (response) {
                alert('error');
            }
        });
    }


    function RebindDatePicker() {
        $('.datepicker').datepicker("destroy");
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true,
            todayBtn: true,
        });
        // jquery validator bug fix using moment
        //$.validator.methods.date = function (value, element) {
        //    return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        //}

    }

</script>
<style>
    span.error {
        display: block;
        font-style: italic;
        color: #c12a2a;
        font-size: 90%;
    }
</style>