
@model DhaliProcurement.ViewModel.VMMaterialsEntryMasterDetail
@using DhaliProcurement.Helper
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Materials Entry</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {

                    <table class="table">
                        <tr>
                            <td>Project Name</td>
                            <td>
                                <input type="hidden" value="@Model.proc_MaterialEntryMas.ProcProjectId" class="form-control" disabled="disabled" id="ProcProjectId" />
                                <input type="text" value="@ViewBag.ProjectName" class="form-control" disabled="disabled" id="ProjectName" />
                                <input type="hidden" value="@ViewBag.ProjectId" class="form-control" disabled="disabled" id="ProjectId" />
                                @*@Html.DropDownList("ProjectId", null, "--Select--", htmlAttributes: new { @id = "ProjectId", @class = "form-control select2", @style = "width: 500px !important" })*@
                            </td>
                        </tr>
                        <tr>
                            <td>Site Name</td>
                            <td>
                                <input type="text" value="@ViewBag.SiteName" class="form-control" disabled="disabled" id="SiteName" />
                                <input type="hidden" value="@ViewBag.SiteId" class="form-control" disabled="disabled" id="SiteId" />
                                @*@Html.DropDownList("SiteId", null, "--Select--", htmlAttributes: new { @id = "SiteId", @class = "form-control select2", @style = "width: 500px !important" })*@

                            </td>

                        </tr>
                        <tr>
                            <td class="col col-lg-1">Entry Date</td>
                            <td class="col col-lg-6">
                                @*@Html.TextBox("EDate", "", new { @class = "form-control datepicker" })*@
                                @*<input type="text" value="@NullHelper.DateToString(Model.proc_MaterialEntryMas.EDate)" class="form-control datepicker" id="EDate"/>*@
                                <input type="text" value="@NullHelper.DateToString(Model.proc_MaterialEntryMas.EDate)" class="form-control datepicker" id="EDate"  disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div class="details well" style=" border 1px solid black;">
                        <h4>Materials Entry Items</h4>

                        <br />
                        <div class="table-responsive scrolling">
                            <table class="Resource-list table table-bordered" id="RequisitionDetails">
                                <tr class="bg-grey">
                                    <th>Sl. No.</th>
                                    <th>Required Material</th>
                                    <th>Unit</th>
                                    <th>Req. No.</th>
                                    <th>PO No.</th>
                                    <th>Vendor Name</th>
                                    <th>Total Material</th>
                                    <th>Previous Received Qty</th>
                                    <th>Remaining Qty</th>
                                    <th>Challan No.</th>
                                    <th>Challan Date</th>
                                    <th>Material Entry(Qty)</th>
                                    <th>Unit Price</th>
                                    <th>Cost</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                }
            </div>



        </div>


    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <p><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='@Url.Action("Index")';"><i class="icon-circle-left2 position-left"></i> Go back</button></p>
            @*<button type="button" id="SaveItem" class="btn btn-success"><i class="icon-floppy-disk position-left"></i>Save</button>*@
        </div>
    </div>

    <script>
        var counter = 0;
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                autoclose: true,
                changeYear: true
            });
            //$('#SiteId').attr("disabled", "true");
            //$("#RCode").attr("disabled", "true");
            //$("#ItemName").attr("disabled", "true");

            //$('#ItemName_Error').hide();
            ////$('#ReqQty_Error').hide();
            //$("input[name=TQDate]").datepicker({
            //    format: 'dd/mm/yyyy',
            //    todayHighlight: true,
            //    todayBtn: true,
            //    autoclose: true
            //});

            var Id = @ViewBag.MaterialEntryMasId;
            $.ajax({
                url: '/MaterialsEntry/getEditMaterialEntry/',
                data: { MaterialEntryMasId: Id},
                dataType: 'json',
                TYPE: 'POST',
                success: function (data) {
                    //console.log(data);
                    if(data.flag)
                        for (var i = 0; i < data.List.length; i++) {
                        counter++;
                        //cnTaskRow++;
                            //var PreviousReceived = (data.List[i].TotalMaterial)-(data.List[i].RemainingQty);
                        var remainingQty = (data.List[i].TotalMaterial)-(data.List[i].PreviousReceivedQty);
                        //alert(PreviousReceived);
                            var row = $('<tr>'
                               +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/></td>'
                               + '<td><input value="' + data.List[i].ItemId + '" type="hidden" name="ItemId"/><label>' + data.List[i].ItemName + '<label><input value="' + data.List[i].Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                               + '<td><input value="" type="hidden" name="UnitId"/><label>' + data.List[i].UnitName + '<label></td>'
                               + '<td><input value="' + data.List[i].RCode + '" type="hidden" name="RCode"/><label>' + data.List[i].RCodeName + '<label></td>'
                               + '<td><label>' + data.List[i].PONoName + '<label></td>'                            
                               + '<td><input value="' + data.List[i].VendorId + '" type="hidden" name="VendorId"/><label>' + data.List[i].VendorName + '<label></td>'
                               + '<td><label>' + data.List[i].TotalMaterial + '</label></td>'
                               + '<td><label>' + data.List[i].PreviousReceivedQty + '</label></td>'
                               + '<td><label>' + remainingQty + '</label></td>'
                               + '<td><label>'  + data.List[i].ChallanNo + '</label></td>'
                               + '<td><label>'  + data.List[i].ChallanDate + '</label></td>'
                               + '<td><label>'  + data.List[i].EntryQty + '</label></td>'
                               + '<td><label>'  + data.List[i].UnitPrice + '</label></td>'
                               + '<td><label>' + data.List[i].EntryQty * data.List[i].UnitPrice + '<label></td>'
                               //+'<td">'+
                               //         '<button  onclick="RemoveTask(this)" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'+
                               //         ' <input type="checkbox"  />'+
                               //         ' <button   type="button"  onclick="AddNewRowAfter(this);"   class="btn  text-success-600 btn-flat btn-icon btn-rounded "><i class=" icon-plus-circle2"></i></button></td>'
                             +'</tr>');

                            $('#RequisitionDetails').append(row);
                            //$("input[name='StartDate']").addClass('datepicker').datepicker();
                            //$("input[name='EndDate']").addClass('datepicker').datepicker();
                        }


                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });


        });



        $('#ProjectId').change(function () {
            var id = $('#ProjectId option:selected').val();

            $.ajax({
                url: "/TenderQuotation/GetSites",
                type: "post",
                data: {
                    ProjectId: id
                },
                dataType: "json",
                success: function (data) {
                    $('#SiteId').removeAttr("disabled");
                    var listOfSites = data.Sites.length;

                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#SiteId').html(sites);

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });


        $("#SiteId").change(function () {
            var SiteId = $('#SiteId').val();
            var ProjectId = $('#ProjectId option:selected').val();
            //alert(ProjectId);

            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqNo",
                data: { SiteId, ProjectId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //$('#SiteEngineer').val(data.siteEngineer);
                    $('#RCode').removeAttr("disabled");

                    var listOfitems = data.Items.length;
                    var items = "<select id='RCode'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#RCode').html(items);

                }

            });
        });

        $("#RCode").change(function () {
            var Rcode = $('#RCode  option:selected').val();
            var SiteId = $('#SiteId  option:selected').val();
            var ProjectId = $('#ProjectId option:selected').val();
            //alert(ProjectId);

            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqitem",
                data: { Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //$('#SiteEngineer').val(data.siteEngineer);
                    $('#ItemName').removeAttr("disabled");
                    $('#Proc_RequisitionDetId').val(data.Proc_RequisitionDetId);
                    alert('Requisition ID' + data.Proc_RequisitionDetId);
                    alert($('#Proc_RequisitionDetId').val());
                    var listOfitems = data.Items.length;
                    alert('List: ' + listOfitems);
                    var items = "<select id='ItemName'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ItemName').html(items);

                }

            });
        });

        $("#ItemName").change(function () {
            var ItemId = $('#ItemName option:selected').val();
            var Rcode = $('#RCode  option:selected').val();
            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetUnit",
                data: { ItemId, Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#UnitId').val(data.UnitId);
                    $('#UnitName').val(data.UnitName);
                    $('#Qty').val(data.Qty);
                }

            });
        });


        $(document).on({
            'change': function () {
                var price = $(this).val();
                //alert('Unit Price :' + price);
                var quantity = $('#Qty').val();
                var totalPrice = price * quantity;
                $('#TotalPrice').val(totalPrice);
            }
        }, 'input[name=unitPrice]');

        //add new row
        $('#addNewRow').click(function (event) {
            event.preventDefault();
            counter++;
            var isAllValid = true;
            var ProjectId = $('#ProjectId option:selected').val();
            var ProjectName = $('#ProjectId option:selected').text();
            //alert(ProjectId);
            var SiteId = $('#SiteId option:selected').val();
            var SiteName = $('#SiteId option:selected').text();
            //alert(SiteId);
            //var Qty = $('#Qty').val();
            var RCode = $('#RCode option:selected').val();

            var ItemId = $('#ItemName option:selected').val();
            var ItemName = $('#ItemName option:selected').text();
            var Proc_RequisitionDetId = $('#Proc_RequisitionDetId').val();
            alert('ProcRequisitionDetId: ' + Proc_RequisitionDetId);

            var Qty = $('#Qty').val();

            var UnitId = $('#UnitId').val();
            var UnitName = $('#UnitName').val();
            //alert(Unit);
            //alert(UnitId);
            var VendorId = $('#VendorId option:selected').val();
            alert('Vendor Id: ' + VendorId);
            var VendorName = $('#VendorId option:selected').text();

            var TQNo = $('#TQNo').val();
            var TQDate = $('#TQDate').val();
            var TQPrice = $('#TQPrice').val();
            //alert(ReqQty);
            var TotalPrice = $('#TotalPrice').val();
            alert('TotalPrice: ' + TotalPrice);
            var Status = 'A';
            //if (ItemName == "" || ItemName == "Select item") {
            //    $('#ItemName_Error').show();
            //    isAllValid = false;
            //}
            //else {
            //    //$('#ItemName_Error').css('visibility', 'hidden');
            //    $('#ItemName_Error').hide();
            //}

            //if (ReqQty == "" || isNaN(ReqQty)) {
            //    $('#ReqQty_Error').show();
            //    isAllValid = false;
            //}
            //else {
            //    $('#ReqQty_Error').hide();
            //}


            if (isAllValid) {
                var newRow = jQuery('<tr>'
                     +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/></td>'
                    + '<td><input value="' + ProjectId + '" type="hidden" name="ProjectId"/><label>' + ProjectName + '<label></td>'
                    + '<td><input value="' + SiteId + '" type="hidden" name="SiteId"/><label>' + SiteName + '<label></td>'
                    + '<td><input value="' + RCode + '" type="hidden" name="RCode" class="form-control" style="width:50px;"/><label>' + RCode + '</label><input value="' + Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                    + '<td><input value="' + ItemId + '" type="hidden" name="ItemId"/><label>' + ItemName + '<label>'
                    + '<td><input value="' + Qty + '" type="text" name="Qty" class="form-control" style="width:50px;"/></td>'
                    + '<td><input value="' + UnitId + '" type="hidden" name="UnitId"/><label>' + UnitName + '</label></td>'
                    + '<td><input value="' + VendorId + '" type="hidden" name="VendorId"/><label>' + VendorName + '</label></td>'
                    + '<td><input value="' + TQNo + '" type="text" name="TQNo" class="form-control" style="width:50px;"/></td>'
                    + '<td><input value="' + TQDate + '" type="text" name="TQDate" class="form-control" style="width:50px;"/></td>'
                    + '<td><input value="' + TQPrice + '" type="text" name="TQPrice" class="form-control" style="width:50px;"/></td>'
                    + '<td><input value="' + TotalPrice + '" type="hidden" name="TotalPrice" class="form-control" style="width:50px;"/><label>' + TotalPrice + '</label></td>'
                    + '</td><input value="' + Status + '" type="hidden" name="Status"/> <td> <input type="button" class="btn btn-danger btn-xs" value="Delete" onclick="$(this).parent().parent().remove();" /></td></tr>');


                jQuery('table.Resource-list').append(newRow);

                $('#ProjectId').val("");
                $('#SiteId').val("");
                $('#RCode').val("");
                $('#ItemName').val("");
                $('#Qty').val("");
                $('#UnitName').val("");
                //$('#VendorId').val("");
                $('#TQNo').val("");
                $('#TQDate').val("");
                $('#TQPrice').val("");
                $('#TotalPrice').val("");

                $('#SiteId').attr("disabled", true);
                $('#RCode').attr("disabled", true);
                $('#ItemName').attr("disabled", true);
            }

        });


    </script>



