
@{
    ViewBag.Title = "Vendor Payment Item Wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Vendor Payment Report(Item Wise)</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("VendorPaymentItemWise", "Report", FormMethod.Post, htmlAttributes: new { @target = "_blank" }))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <!--New-->

                            <div class="form-group">
                                @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("ProjectId", null, "--Select--", new { @class = "form-control select2", @Id = "ProjectId" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Site", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("SiteId", new SelectList(string.Empty, "Value", "Text"), "--Select--", new { @class = "form-control select2", @Id = "SiteId" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("ItemId", new SelectList(string.Empty, "Value", "Text"), "--Select--", new { @class = "form-control select2", @Id = "ItemId" })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Vendor", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("VendorId", null, "--Select--", htmlAttributes: new { @class = "form-control select2", @id = "VendorId" })
                                </div>
                            </div>





                        </div>


                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <button type="submit" class="btn btn-primary"><i class="icon-add position-left"></i>  Generate Report</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Plugins/select2/select2.min.js"></script>
    <script>
        $(".select2").select2();
    </script>




    <script>
        $(document).ready(function () {
          //  $('#SiteId').attr("disabled", "true");
          //  $("#PONo").attr("disabled", "true");
        });


        //$('#ProjectId').change(function () {
        //    var id = $('#ProjectId option:selected').val();

        //    $.ajax({
        //        url: "/TenderQuotation/GetSites",
        //        type: "post",
        //        data: {
        //            ProjectId: id
        //        },
        //        dataType: "json",
        //        success: function (data) {
        //            $('#SiteId').removeAttr("disabled");
        //            var listOfSites = data.Sites.length;

        //            var sites = "<select id='sites'>";
        //            sites = sites + '<option value="">--Select--</option>';
        //            for (var i = 0; i < listOfSites; i++) {
        //                sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
        //            }
        //            sites = sites + '</select>';
        //            $('#SiteId').html(sites);

        //        },
        //        error: function (xhr) {
        //            alert('error');
        //        }
        //    });
        //});



        $('#ProjectId').change(function () {
            var id = $('#ProjectId option:selected').val();
            $.ajax({
                url: "/PurchaseOrders/GetPId",
                type: "post",
                data: {
                    ProjectId: id
                },
                dataType: "json",
                success: function (data) {
                  //  $('#SiteId').removeAttr("disabled");
                  //  $('#ProjectManager').val(data.manager);
                    var listOfSites = data.Sites.length;
                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#SiteId').html(sites);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });


       
        $('#SiteId').change(function () {
            var id = $('#SiteId option:selected').val();
            $.ajax({
                url: "/PurchaseOrders/GetVendorPaymentItemWiseReport",
                type: "post",
                data: {
                    SiteId: id                   
                },
                dataType: "json",
                success: function (data) {
                    //  $('#VendorId').removeAttr("disabled");
                    var listOfSites = data.ItemLists.length;
                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.ItemLists[i].Value + '>' + data.ItemLists[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#ItemId').html(sites);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });




        $('#ItemId').change(function () {
            var itemId = $('#ItemId option:selected').val();
            var siteId = $('#SiteId option:selected').val();
            var projId = $('#ProjectId option:selected').val();
            $.ajax({
                url: "/PurchaseOrders/GetVendorItemWise",
                type: "post",
                data: {
                    ItemId: itemId,
                    ProjectId: projId,
                    SiteId: siteId
                },
                dataType: "json",
                success: function (data) {
                    //  $('#VendorId').removeAttr("disabled");
                    var listOfSites = data.VendorLists.length;
                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.VendorLists[i].Value + '>' + data.VendorLists[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#VendorId').html(sites);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });



        //$('#SiteId').change(function () {
        //    var id = $('#SiteId option:selected').val();
        //    $.ajax({
        //        url: "/PurchaseOrders/GetVendorId",
        //        type: "post",
        //        data: {
        //            TenderId: id
        //        },
        //        dataType: "json",
        //        success: function (data) {
        //          //  $('#VendorId').removeAttr("disabled");
        //            var listOfSites = data.Vendors.length;
        //            var sites = "<select id='sites'>";
        //            sites = sites + '<option value="">--Select--</option>';
        //            for (var i = 0; i < listOfSites; i++) {
        //                sites = sites + '<option value=' + data.Vendors[i].Value + '>' + data.Vendors[i].Text + '</option>';
        //            }
        //            sites = sites + '</select>';
        //            $('#VendorId').html(sites);
        //        },
        //        error: function (xhr) {
        //            alert('error');
        //        }
        //    });
        //});


        //$("#SiteId").change(function () {
        //    var SiteId = $('#SiteId').val();
        //    $.ajax({
        //        type: "post",
        //        url: "/PurchaseOrders/GetSiteLocation",
        //        data: { SiteId },
        //        datatype: "json",
        //        traditional: true,
        //        success: function (data) {
        //            $('#TenderId').removeAttr("disabled");
        //            var listOfSites = data.TenderList.length;
        //            var sites = "<select id='TenderId'>";
        //            sites = sites + '<option value="">--Select--</option>';
        //            for (var i = 0; i < listOfSites; i++) {
        //                sites = sites + '<option value=' + data.TenderList[i].Value + '>' + data.TenderList[i].Text + '</option>';
        //            }
        //            sites = sites + '</select>';
        //            $('#TenderId').html(sites);
        //            $('#PurchaseAddress').val(data.sitesLoc);
        //            $('#RcvConcenPerson').val(data.siteEngineer);
        //        }
        //    });
        //});

        //$("#VendorId").change(function () {
        //    var VendorId = $('#VendorId').val();
        //    $.ajax({
        //        type: "post",
        //        url: "/PurchaseOrders/GetVendorContactPerson",
        //        data: { VendorId },
        //        datatype: "json",
        //        traditional: true,
        //        success: function (data) {
        //            $('#ItemName').removeAttr("disabled");
        //            $('#VContactPerson').val(data.vContactPerson);
        //            var listOfSites = data.ItemList.length;
        //            var sites = "<select id='ItemName'>";
        //            sites = sites + '<option value="">--Select--</option>';
        //            for (var i = 0; i < listOfSites; i++) {
        //                sites = sites + '<option value=' + data.ItemList[i].Value + '>' + data.ItemList[i].Text + '</option>';
        //            }
        //            sites = sites + '</select>';
        //            $('#ItemName').html(sites);




        //            var sites = "<select id='ModalItemName'>";
        //            sites = sites + '<option value="">--Select--</option>';
        //            for (var i = 0; i < listOfSites; i++) {
        //                sites = sites + '<option value=' + data.ItemList[i].Value + '>' + data.ItemList[i].Text + '</option>';
        //            }
        //            sites = sites + '</select>';
        //            $('#ModalItemName').html(sites);
        //        }
        //    });
        //});











    </script>
}




