@model IEnumerable<ERP.Models.UserMas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewBag.Title = "Index";
}
<p style="padding-left:5px; padding-top:5px;">
    @Html.ActionLink("Create New", "Create",
          null, new { @style = "color:#ffffff;", id = "lnkCreate", @class = "btn btn-success" })
</p>
<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h5 class="panel-title">List Of Vendors</h5>
    </div>
    <div class="panel-body">
        <table class="table datatable-show-all table-hover table-xs">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Sales Person</th>
                    <th>Contact</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson)
                    </td>

                    @*<td>
            <ul class="icons-list">
                <li class="text-info"><a href="@Url.Action("Edit", new { id = item.Id } )" data-popup="tooltip" title="Edit"><i class="icon-pencil7"></i></a></li>
                <li>|</li>
                <li class="text-info"><a href="@Url.Action("Details", new { id = item.Id } )" data-popup="tooltip" title="Details"><i class="icon-file-text2"></i></a></li>
                <li>|</li>
                <li class="text-danger"><a href="@Url.Action("Delete", new { id = item.Id } )" data-popup="tooltip" title="Delete"><i class="icon-cross2"></i></a></li>
            </ul>
        </td>*@

                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-xs text-info  icon-pencil4", @title = "Edit Vendor Payment Details" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-xs text-info  icon-file-text2" })
                       
                            <a class="btn btn-xs text-danger icon-cross2" title="Delete" href="javascript:deleteFunction(@item.Id)"></a>
                       
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/plugins/forms/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables_advanced.js"></script>




    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });

        function deleteFunction(id) {

          
            var Con = confirm("Are you sure want to delete this ?");
            if (Con == true) {
                $.ajax({
                    url: "/VendorRetailer/DeleteVendor",
                    type: "post",
                    data: {
                        id: id,

                    },
                    dataType: "json",

                    success: function (flag) {
                        console.log(flag);

                        if (flag.flag == true) {
                            window.location = "/VendorRetailer/Index";
                            alert("Successfully deleted !");
                        } else {
                            alert(flag.message);
                        }
                    },

                    error: function (xhr) {
                        alert('error');

                    }


                });
            }

        }
    </script>
}

