@model DhaliProcurement.Models.CompanyInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class=" icon-office position-left"></i>Company Information Details</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @if ( ViewBag.Count == false)
                {
                    <h6 style="text-align:center;">No Employee information insert yet !</h6>
                    <p>
                        @Html.ActionLink("  Insert", "Create", null, new { @class = "btn btn-success btn-xs" })
                    </p>
                }
                else
                { <div class="well well-lg">
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Web):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Web)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ContactPerson):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ContactPerson)
                        </dd>
                      
                    </dl>
                    <p class="pull-right">
                        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs text-info icon-pencil4", @title = "Edit" }) |
                        @Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "btn btn-xs text-danger icon-cross2", @title = "Delete" }) 
                      
                    </p>
                <br />
                </div>
                }
            </div>
        </div>
    </div>
</div>
