@model DhaliProcurement.ViewModel.VMTenderMasterDetail
@using DhaliProcurement.Helper
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Materials Tender Quotation
                    @if (Model.proc_TenderMas.isApproved == "A")
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Pending Approved</span>
                    }
                </h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {

                    <table class="table">
                        <tr>
                            <td>Tender No.</td>
                            <td>
                                @Html.TextBox("TNo", Model.proc_TenderMas.TNo, new { @class = "form-control" })
                                <input type="hidden" value="@ViewBag.TenderId" id="TenderId" />
                            </td>
                            <td>Tender Date</td>
                            <td>
                                @*@Html.TextBox("TDate", NullHelper.DateToString(Model.proc_TenderMas.TDate), new { @class = "form-control datepicker" })*@
                                @Html.TextBox("TDate", NullHelper.DateToString(Model.proc_TenderMas.TDate), new { @class = "form-control datepicker" })
                            </td>
                        </tr>
                        <tr>
                            <td>Specification</td>
                            <td>
                                @Html.TextBox("Specs", Model.proc_TenderMas.Specs, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td>
                                @Html.TextBox("TenderRemarks", Model.proc_TenderMas.Remarks, new { @class = "form-control" })
                            </td>
                        </tr>

                    </table>
                    <hr />
                    <div class="details well" style=" border 1px solid black;">
                        <h4>Tender Items</h4>
                        <table style="width: 100%;">
                            <tr>
                                @*<td style="font-size: 15px; font-weight: bold;">Sl. No.</td>*@
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-2">Project Name</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Site</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Req. No.</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Item Name</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Qty</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Unit</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Vendor Name</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Qtn. No.</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Qtn. Date</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Unit Price</th>
                                <th style="font-size: 15px; font-weight: bold;" class="col-md-1">Total Price</th>
                                @*<th style="font-size: 15px; font-weight: bold;">Remarks</th>
                                    <th>&nbsp;</th>*@
                                @*<th>&nbsp;</th>*@
                            </tr>
                            <tr>
                                <td>

                                    @Html.DropDownList("ProjectId", null, "Select Project", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ProjectId" })
                                </td>
                                <td>
                                    @Html.DropDownList("SiteId", null, "Select Site", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "SiteId" })
                                    @*<input type="hidden" value="" id="UnitId" />*@
                                </td>
                                <td>
                                    @Html.DropDownList("RCode", null, "Select Requisition", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "RCode" })
                                    <input type="hidden" value="" id="Proc_RequisitionDetId" />
                                </td>
                                <td>
                                    @Html.DropDownList("ItemName", null, "Select Item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ItemName" })
                                </td>
                                <td>
                                    <input type="text" id="Qty" class="form-control" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" id="UnitName" class="form-control" disabled="disabled" />
                                    <input type="hidden" id="UnitId" value="" />
                                </td>
                                <td>
                                    @Html.DropDownList("VendorId", null, "Select Vendor", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "VendorId" })
                                </td>
                                <td>
                                    <input type="text" id="TQNo" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" id="TQDate" class="form-control datepicker" />
                                </td>
                                <td>
                                    <input type="text" id="TQPrice" class="form-control" name="unitPrice" />
                                </td>
                                <td>
                                    <input type="text" id="TotalPrice" class="form-control" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="button" id="addNewRow" value="+" class="btn btn-primary" style="background-color: grey;border: none;" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><span class="error" id="ProjectName_Error">Project required</span></td>
                                <td><span class="error" id="SiteName_Error">Site required</span></td>
                                <td><span class="error" id="ReqNo_Error">Req No. required</span></td>
                                <td><span class="error" id="ItemName_Error">Item name required</span></td>
                                <td></td>
                                <td></td>
                                <td><span class="error" id="VendorName_Error">Vendor name required</span></td>
                                <td><span class="error" id="QtnNo_Error">Qtn No. required</span></td>
                                <td></td>
                                <td><span class="error" id="UnitPrice_Error">Unit Price required</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <br />
                        <div class="table-responsive scrolling">
                            <table class="Resource-list table table-bordered" id="RequisitionDetails">
                                <tr class="bg-grey">
                                    <th>Sl. No.</th>
                                    <th>Project Name</th>
                                    <th>Site</th>
                                    <th>Req. No.</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Vendor Name</th>
                                    <th>Qtn. No.</th>
                                    <th>Qtn. Date</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                }
            </div>



        </div>


    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align:center;">
            @*<input type="button" id="deletecheck" value="Delete Selected"/>*@
            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" ,@style = "background-color: grey;border: none;" })*@
            @if (User.IsInRole("Management"))
            {
                if (Model.proc_TenderMas.isApproved.Trim() == "A")
                {
                    <button type="button" id="SaveItem" class="btn btn-success"><i class="icon-floppy-disk position-left"></i>Update</button>
                }
                else
                {
                    <button type="button" id="SaveItem" class="btn btn-success"><i class="icon-floppy-disk position-left"></i>Update</button>
                    <button type="button" id="ApproveItem" class="btn btn-danger"><i class="icon-select2 position-left"></i>Approve Selected</button>
                }
            }
            else
            {
                if (Model.proc_TenderMas.isApproved.Trim() == "A")
                {
                    <button type="button" id="SaveItem" class="btn btn-success"><i class="icon-floppy-disk position-left"></i>Update</button>
                }
                else
                {
                    <button type="button" id="ApproveItem" class="btn btn-danger" disabled="disabled"><i class="icon-floppy-disk position-left"></i>Pending Approval</button>
                }
            }

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staffModalTitle">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="form-group">
                                <input type="hidden" id="ProjectId" value="" />
                            </div>
                            <div class="form-group">
                                @Html.Label("Project Name", htmlAttributes: new
                       {
                           @class = "control-label col-md-2"@*, @style="font-weight:bold;"*@ })
                                <div class="col-md-10">
                                    @Html.DropDownList("ProjectId", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalProjectId" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Site", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*<input type="hidden" id="modalunitId" />*@
                                    @Html.DropDownList("SiteId", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalSiteId" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Req No", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    <input type="hidden" id="ModalProc_RequisitionDetId" />
                                    @Html.DropDownList("RCode", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalRequisition" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    <input type="hidden" id="ModalProc_RequisitionDetId"/>
                                    @Html.DropDownList("ItemName", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalItemName" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Qty", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.TextBox("ModalQty", null, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    <input type="hidden" id="ModalUnit" />
                                    @Html.TextBox("ModalUnitName", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Vendor Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.DropDownList("VendorId", null, "Select Vendor", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalVendor" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Qtn No", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.TextBox("ModalQtnNo", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Qtn Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.TextBox("ModalQtnDate", null, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.TextBox("ModalUnitPrice", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Total", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.TextBox("ModalTotal", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-primary" id="ModalDetailSave">Save</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <script>
        var counter = 0;
        var TenderDetailId =0;
        var deleteCounter = 0;
        var deleteList = [];
        var selRow;
        
        $('#deletecheck').click(function () {
            alert('Length: ' + deleteList.length);
            for(var i = 0;i<deleteList.length;i++)
            {
                alert(deleteList[i]);
            }
        });

        $(document).ready(function () {
            RebindDatePicker();

            $('#SiteId').attr("disabled", "true");
            $("#RCode").attr("disabled", "true");
            $("#ItemName").attr("disabled", "true");

            $('#ProjectName_Error').hide();
            $('#SiteName_Error').hide();
            $('#ReqNo_Error').hide();
            $('#ItemName_Error').hide();
            $('#VendorName_Error').hide();
            $('#QtnNo_Error').hide();
            $('#UnitPrice_Error').hide();

            $("input[name=TQDate]").datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                autoclose: true
            });

            TenderDetailId  = @ViewBag.TenderDetPrimaryKey;
            var Id = @ViewBag.TenderId;
            $.ajax({
                url: '/TenderQuotation/getEditTender/',
                data: { TenderId: Id},
                dataType: 'json',
                TYPE: 'POST',
                success: function (data) {
                    if(data.flag){
                        @*var userRole = '@(Roles.IsUserInRole("Management") ? "true" : "false")';*@
                        var userRole =  '@(User.IsInRole("Management") ? "true" : "false")';

                        if(userRole.trim()=="true"){

                            for (var i = 0; i < data.List.length; i++) {


                                if(data.List[i].Status=="A"){
                                    counter++;

                                    var row = $('<tr bgcolor="#D0F0C0" style="font-weight:bold;">'
                                       +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/><input type="hidden" name="TenderDetailId" value="'+data.List[i].TenderDetailId+'"/></td>'
                                       + '<td><input value="' + data.List[i].ProjectId + '" type="hidden" name="ProjectId"/><label style="font-weight:bold;">' + data.List[i].ProjectName + '<label></td>'
                                       + '<td><input value="' + data.List[i].SiteId + '" type="hidden" name="SiteId"/><label style="font-weight:bold;">' + data.List[i].SitetName + '<label></td>'
                                       + '<td><input value="' + data.List[i].RCode + '" type="hidden" name="ReqCode" style="font-weight:bold;"/><label style="font-weight:bold;">' + data.List[i].RCodeName + '<label><input value="' + data.List[i].RCodeName + '" type="hidden" name="RCodeName" style="font-weight:bold;"/><input value="' + data.List[i].Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                                       + '<td><input value="' + data.List[i].ItemId + '" type="hidden" name="ItemId"/><label style="font-weight:bold;">' + data.List[i].ItemName + '<label><input value="' + data.List[i].ItemName + '" type="hidden" name="ItemName"/></td>'
                                       + '<td><label style="font-weight:bold;">' + data.List[i].Qty + '<label></td>'                                  
                                       + '<td><input value="' + data.List[i].UnitId + '" type="hidden" name="UnitId"/><label style="font-weight:bold;">' + data.List[i].UnitName + '<label></td>'
                                       + '<td><input value="' + data.List[i].VendorId + '" type="hidden" name="Vendor"/><label style="font-weight:bold;">' + data.List[i].VendorName + '<label><input value="' + data.List[i].VendorName + '" type="hidden" name="VendorName"/></td>'
                                       +'<td> <input class="form-control" style="width:110px;" type="hidden" name="TQNo" value="' + data.List[i].TQNo + '" style="font-weight:bold;" /><label style="font-weight:bold;">' + data.List[i].TQNo+ '<label></td>'
                                       +'<td><input class="form-control datepicker" style="width:90px;" type="hidden" name="TQDate" value="' + data.List[i].TQDate + '"/><label style="font-weight:bold;">' + data.List[i].TQDate + '<label></td>'
                                       +'<td><input class="form-control" style="width:70px;" type="hidden" name="TQPrice" value="' + data.List[i].TQPrice + '"/><label style="font-weight:bold;">' + data.List[i].TQPrice + '<label></td>'
                                       //+'<td><label>' + data.List[i].Qty * data.List[i].TQPrice + '<label></label><input value="' + data.List[i].Status + '" type="hidden" name="Status"/></td>'
                                        +'<td><input value="' + data.List[i].Qty * data.List[i].TQPrice + '" type="hidden" name="TotalPrice" class="form-control TotalPrice" style="width:90px;" disabled="disabled"/>'
                                        +'<label style="font-weight:bold;">' +  data.List[i].Qty * data.List[i].TQPrice + '<label>'
                                        +'<input class="Status"  value="'+data.List[i].Status +'" type="hidden" name="Status"/></td>'
                                       //+'<td">'+
                                       //         '<button  onclick="RemoveTask(this)" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'+
                                       //         ' <input type="checkbox"  />'+
                                       //         ' <button   type="button"  onclick="AddNewRowAfter(this);"   class="btn  text-success-600 btn-flat btn-icon btn-rounded "><i class=" icon-plus-circle2"></i></button></td>'
                                      +'<td style="width:100px;">'+
                                                ' <input type="checkbox" checked="checked"/>'
                                                //+'<button  onclick="RemoveTask('+data.List[i].TenderDetailId+')" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'
                                                +'</td>'

                                     +'</tr>');
                                   
                                    $('#RequisitionDetails').append(row);
                                    RebindDatePicker()
                                }
                                else{
                                    counter++;
                                    var row = $('<tr>'
                                       +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/><input type="hidden" name="TenderDetailId" value="'+data.List[i].TenderDetailId+'"/></td>'
                                       + '<td><input value="' + data.List[i].ProjectId + '" type="hidden" name="ProjectId"/><input class="form-control" value="' + data.List[i].ProjectName + '" type="text" name="ProjectName" style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input value="' + data.List[i].SiteId + '" type="hidden" name="SiteId"/><input class="form-control" value="' + data.List[i].SitetName + '" type="text" name="SiteName" style="width:90px;"  disabled="disabled"/></td>'
                                       + '<td><input value="' + data.List[i].RCode + '" type="hidden" class="form-control" name="ReqCode"  style="width:90px;"/><input value="' + data.List[i].RCodeName+ '" type="text" class="form-control" name="RCodeName"  style="width:90px;"  disabled="disabled"/><input value="' + data.List[i].Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                                       + '<td><input value="' + data.List[i].ItemId + '" type="hidden" name="ItemId"/><input value="' + data.List[i].ItemName + '" type="text" class="form-control" name="ItemName"  style="width:90px;"  disabled="disabled"/></td>'
                                       + '<td><input class="form-control" value="' + data.List[i].Qty  + '" type="text" name="Qty" style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input value="' + data.List[i].UnitId + '" type="hidden" name="UnitId"/><input class="form-control" value="' + data.List[i].UnitName + '" type="text" name="UnitName" disabled="disabled" style="width:90px;"/></td>'
                                       + '<td><input value="' + data.List[i].VendorId + '" type="hidden" name="Vendor"/><input value="' + data.List[i].VendorName + '" type="text" class="form-control" name="VendorName"  disabled="disabled"  style="width:90px;"/></td>'
                                       + '<td><input class="form-control" style="width:110px;" type="text" name="TQNo" value="' + data.List[i].TQNo + '" /></td>'
                                       + '<td><input class="form-control datepicker" style="width:90px;" type="text" name="TQDate" value="' + data.List[i].TQDate + '"/></td>'
                                       + '<td><input class="form-control" style="width:70px;" type="text" name="TQPrice" value="' + data.List[i].TQPrice + '"/></td>'
                                       + '<td><input value="' + data.List[i].Qty * data.List[i].TQPrice + '" type="text" name="TotalPrice" class="form-control TotalPrice" style="width:90px;" disabled="disabled"/><input class="Status"  value="'+data.List[i].Status +'" type="hidden" name="Status"/></td>'
                                       + '<td style="width:100px;">'+
                                                ' <input type="checkbox"/>'
                                                  + '<button type="button" id="editSite" class="btn text-primary-400 btn-flat btn-icon btn-rounded  btn-xs editSite " data-toggle="modal" data-target="#detailForm"><i class="icon-pencil"></i></button>'
                                                  +'<button class="btn text-warning-600 btn-flat btn-icon btn-rounded deleteDetailTask"><i class="icon-cross"></i></button>'+
                                                    //+' <input type="button" class="btn btn-danger btn-xs deleteDetailTask" value="Delete"/>'+
                                                //+'<button  onclick="RemoveTask('+data.List[i].TenderDetailId+')" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'+
                                                '</td>'

                                       +'</tr>');

                                    $('#RequisitionDetails').append(row);

                                    RebindDatePicker()
                                }
                            }
                        }
                        else{
                            for (var i = 0; i < data.List.length; i++) {

                                if(data.List[i].Status=="A"){
                                    counter++;

                                    var row = $('<tr bgcolor="#D0F0C0" style="font-weight:bold;">'
                                       +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/><input type="hidden" name="TenderDetailId" value="'+data.List[i].TenderDetailId+'"/></td>'
                                       + '<td><input value="' + data.List[i].ProjectId + '" type="hidden" name="ProjectId"/><label style="font-weight:bold;">' + data.List[i].ProjectName + '<label></td>'
                                       + '<td><input value="' + data.List[i].SiteId + '" type="hidden" name="SiteId"/><label style="font-weight:bold;">' + data.List[i].SitetName + '<label></td>'
                                       + '<td><input value="' + data.List[i].RCode + '" type="hidden" name="ReqCode"/><label style="font-weight:bold;">' + data.List[i].RCodeName + '<label><input value="' + data.List[i].Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                                       + '<td><input value="' + data.List[i].ItemId + '" type="hidden" name="ItemId"/><label style="font-weight:bold;">' + data.List[i].ItemName + '<label><input value="' + data.List[i].ItemName + '" type="hidden" name="ItemName"/></td>'
                                       + '<td><label style="font-weight:bold;">' + data.List[i].Qty + '<label></td>'
                                       + '<td><input  value="' + data.List[i].UnitId + '" type="hidden" name="UnitId"/><label style="font-weight:bold;">' + data.List[i].UnitName + '<label></td>'
                                       + '<td><input value="' + data.List[i].VendorId + '" type="hidden" name="Vendor"/><label style="font-weight:bold;">' + data.List[i].VendorName + '<label><input value="' + data.List[i].VendorName + '" type="hidden" name="VendorName"/></td>'
                                       +'<td> <input class="form-control" style="width:110px;" type="hidden" name="TQNo" value="' + data.List[i].TQNo + '" /><label style="font-weight:bold;">' + data.List[i].TQNo + '<label></td>'
                                       +'<td><input class="form-control datepicker" style="width:90px;" type="hidden" name="TQDate" value="' + data.List[i].TQDate + '"/><label style="font-weight:bold;">' + data.List[i].TQDate  + '<label></td>'
                                       +'<td><input class="form-control" style="width:70px;" type="hidden" name="TQPrice" value="' + data.List[i].TQPrice + '"/><label style="font-weight:bold;">' + data.List[i].TQPrice  + '<label></td>'
                                       //+'<td><label>' + data.List[i].Qty * data.List[i].TQPrice + '<label></label><input value="' + data.List[i].Status + '" type="hidden" name="Status"/></td>'
                                        +'<td><input value="' + data.List[i].Qty * data.List[i].TQPrice + '" type="text" name="TotalPrice" class="form-control TotalPrice" style="width:90px;" disabled="disabled"/><input class="Status"  value="'+data.List[i].Status +'" type="hidden" name="Status"/></td>'
                                       //+'<td">'+
                                       //         '<button  onclick="RemoveTask(this)" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'+
                                       //         ' <input type="checkbox"  />'+
                                       //         ' <button   type="button"  onclick="AddNewRowAfter(this);"   class="btn  text-success-600 btn-flat btn-icon btn-rounded "><i class=" icon-plus-circle2"></i></button></td>'
                                      +'<td style="width:100px;">'+
                                                '<input type="checkbox" checked="checked" style="display:none"/>'
                                                //+'<button type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded deleteDetailTask"><i class="icon-cross"></i></button>'+
                                                //+'<button  onclick="RemoveTask('+data.List[i].TenderDetailId+')" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded" style="display:none"><i class="icon-cross"></i></button>'+
                                               + ' </td>'
                                     +'</tr>');

                                    $('#RequisitionDetails').append(row);
                                    RebindDatePicker()
                                }
                                else{
                                    counter++;
                                    var row = $('<tr>'
                                       +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/><input type="hidden" name="TenderDetailId" value="'+data.List[i].TenderDetailId+'"/></td>'
                                      + '<td><input value="' + data.List[i].ProjectId + '" type="hidden" name="ProjectId"/><input class="form-control" value="' + data.List[i].ProjectName + '" type="text" name="ProjectName" style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input value="' + data.List[i].SiteId + '" type="hidden" name="SiteId"/><input class="form-control" value="' + data.List[i].SitetName + '" type="text" name="SiteName" style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input value="' + data.List[i].RCode + '" type="hidden" class="form-control" name="ReqCode"  style="width:90px;"/><input value="' + data.List[i].RCodeName + '" type="text" class="form-control" name="RCodeName"  style="width:90px;" disabled="disabled"/><input value="' + data.List[i].Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                                       + '<td><input value="' + data.List[i].ItemId + '" type="hidden" name="ItemId"/><input value="' + data.List[i].ItemName + '" type="text" class="form-control" name="ItemName"  style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input class="form-control" value="' + data.List[i].Qty  + '" type="text" name="Qty" style="width:90px;" disabled="disabled"/></td>'
                                       + '<td><input  value="' + data.List[i].UnitId + '" type="hidden" name="UnitId"/><input class="form-control" value="' + data.List[i].UnitName + '" type="text" name="UnitName" disabled="disabled" style="width:80px;"/></td>'
                                       + '<td><input value="' + data.List[i].VendorId + '" type="hidden" name="Vendor"/><label>' + data.List[i].VendorName + '<label><input value="' + data.List[i].VendorName + '" type="hidden" name="VendorName"/></td>'
                                       +'<td> <input class="form-control" style="width:110px;" type="text" name="TQNo" value="' + data.List[i].TQNo + '" /></td>'
                                       +'<td><input class="form-control datepicker" style="width:90px;" type="text" name="TQDate" value="' + data.List[i].TQDate + '"/></td>'
                                       +'<td><input class="form-control" style="width:70px;" type="text" name="TQPrice" value="' + data.List[i].TQPrice + '"/></td>'
                                       +'<td><input value="' + data.List[i].Qty * data.List[i].TQPrice + '" type="text" name="TotalPrice" class="form-control TotalPrice" style="width:90px;" disabled="disabled"/><input class="Status"  value="'+data.List[i].Status +'" type="hidden" name="Status"/></td>'
                                       +'<td style="width:100px;">'+
                                                '<input type="checkbox" style="display:none"/>'
                                                  + '<button type="button" id="editSite" class="btn text-primary-400 btn-flat btn-icon btn-rounded  btn-xs editSite " data-toggle="modal" data-target="#detailForm"><i class="icon-pencil"></i></button>'
                                                +'<button type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded deleteDetailTask"><i class="icon-cross"></i></button>'+
                                                //+'<button  onclick="RemoveTask('+data.List[i].TenderDetailId+')" type="button" class="btn  text-warning-600 btn-flat btn-icon btn-rounded"><i class="icon-cross"></i></button>'+
                                                ' </td>'
                                                
                                       +'</tr>');

                                    $('#RequisitionDetails').append(row);

                                    RebindDatePicker();
                                }




                            }


                        }
                     
                    }

                    $('.editSite').click(function () {

                        var row = $(this).closest('tr');
                        selRow = $(this).closest('tr');                            

                        var ProjectId = row.find('input[name=ProjectId]').val();
                        var ProjectName = row.find('input[name=ProjectName]').val();
                        var SiteId = row.find('input[name=SiteId]').val();
                        var SiteName = row.find('input[name=SiteName]').val();
                        var RCode = row.find('input[name=ReqCode]').val();
                        var itemId = row.find('input[name=ItemId]').val();
                        var Proc_RequisitionDetId = row.find('input[name=Proc_RequisitionDetId]').val();
                        var Qty = row.find('input[name=Qty]').val();
                        var UnitId = row.find('input[name=UnitId]').val();
                        var UnitName = row.find('input[name=UnitName]').val();
                        var Vendor = row.find('input[name=Vendor]').val();
                        var TQNo = row.find('input[name=TQNo]').val();
                        var TQDate = row.find('input[name=TQDate]').val();
                        var TQPrice = row.find('input[name=TQPrice]').val();
                        var TotalPrice = row.find('input[name=TotalPrice]').val();


                        $('#ModalProjectId').val(ProjectId);
                        $('#ModalSiteId').val(SiteId);
                        $('#ModalRequisition').val(RCode);
                        $('#ModalItemName').val(itemId);
                        $('#ModalProc_RequisitionDetId').val(Proc_RequisitionDetId);
                        $('#ModalQty').val(Qty);
                        $('#ModalUnit').val(UnitId);
                        $('#ModalUnitName').val(UnitName);                       
                        $('#ModalVendor').val(Vendor);
                        $('#ModalQtnNo').val(TQNo);
                        $('#ModalQtnDate').val(TQDate);
                        $('#ModalUnitPrice').val(TQPrice);
                        $('#ModalTotal').val(TotalPrice);


                        $('#ModalSiteId').attr("disabled", "true");
                        $('#ModalRequisition').attr("disabled", "true");
                        $('#ModalItemName').attr("disabled", "true");
                        $('#ModalQty').attr("disabled", "true");
                        $('#ModalUnitName').attr("disabled", "true");
                        $('#ModalTotal').attr("disabled", "true");
                    });
       


                    $('.deleteDetailTask').click(function (e) {
                        e.preventDefault();
                        //var retVal = confirm("Do you want to delete this Item ?");
                        //if (retVal == true) {
                            var row = $(this).closest('tr');
                            var itemDetId = $(this).closest('tr').find('td input[name=TenderDetailId]').val();

                            RequisitionDelete = JSON.stringify({
                                TenderDetailId: itemDetId
                            });

                            $.ajax({
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                type: 'POST',
                                url: '/TenderQuotation/DeleteTenderDetailItem',
                                data: RequisitionDelete,
                                success: function (result) {
                                    console.log(result);
                                    if (result.flag === true) {
                                        deleteList[deleteCounter] = itemDetId;
                                        deleteCounter++;
                                        row.remove();
                                    }
                                    else {
                                        alert(result.message);
                                    }


                                },
                                failure: function (response) {
                                    alert('error');
                                }
                            });

                        //}
                        //else {
                        //    return false;
                        //}
                        
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {

                }

            });


        });

        
        $('#ModalDetailSave').click(function () {
            var ModalProjectId = $('#ModalProjectId option:selected').val();
            var ModalProjectName = $('#ModalProjectId option:selected').text();
            var ModalSiteId = $('#ModalSiteId option:selected').val();
            var ModalSiteName = $('#ModalSiteId option:selected').text();
            var ModalRequisition = $('#ModalRequisition option:selected').val();
            var ModalItemId = $('#ModalItemName option:selected').val();
            var ModalItemName = $('#ModalItemName option:selected').text();
            var ModalQty = $('#ModalQty').val();
            var ModalUnit = $('#ModalUnit').val();
            var ModalUnitName = $('#ModalUnitName').val();
            var ModalVendorId = $('#ModalVendor option:selected').val();
            var ModalVendorName = $('#ModalVendor option:selected').text();
            var ModalQtnNo = $('#ModalQtnNo').val();
            var ModalQtnDate = $('#ModalQtnDate').val();
            var ModalProc_RequisitionDetId = $('#ModalProc_RequisitionDetId').val();
            var ModalUnitPrice = $('#ModalUnitPrice').val();
            var ModalTotal = $('#ModalTotal').val();


            selRow.find('input[name=ProjectId]').val(ModalProjectId);
            selRow.find('input[name=ProjectName]').val(ModalProjectName);
            selRow.find('input[name=SiteId]').val(ModalSiteId);
            selRow.find('input[name=SiteName]').val(ModalSiteName);
            selRow.find('input[name=ReqCode]').val(ModalRequisition);
            selRow.find('input[name=ItemId]').val(ModalItemId);
            selRow.find('input[name=ItemName]').val(ModalItemName);
            selRow.find('input[name=Proc_RequisitionDetId]').val(ModalProc_RequisitionDetId);
            selRow.find('input[name=Qty]').val(ModalQty);
            selRow.find('input[name=UnitName]').val(ModalUnitName);
            selRow.find('input[name=UnitId]').val(ModalUnit);
            selRow.find('input[name=Vendor]').val(ModalVendorId);
            selRow.find('input[name=VendorName]').val(ModalVendorName);
            selRow.find('input[name=TQNo]').val(ModalQtnNo);
            selRow.find('input[name=TQDate]').val(ModalQtnDate);
            selRow.find('input[name=TQPrice]').val(ModalUnitPrice);
            selRow.find('input[name=TotalPrice]').val(ModalTotal);


            $('#detailForm').modal('hide');
            totalItemCost();
        });


        $('#ModalProjectId').change(function () {
            var id = $('#ModalProjectId option:selected').val();

            $.ajax({
                url: "/TenderQuotation/GetSites",
                type: "post",
                data: {
                    ProjectId: id
                },
                dataType: "json",
                success: function (data) {
                    var listOfSites = data.Sites.length;

                    $('#ModalSiteId').removeAttr("disabled");
                    //$('#ModalSiteId').empty();
                    $('#ModalSiteId').empty();
                    $('#ModalRequisition').empty();
                    $('#ModalItemName').empty();
                    $('#ModalUnit').val("");
                    $('#ModalUnitName').val("");
                    $('#ModalQty').val("");
                    $('#ModalVendor').val("");
                    $('#ModalQtnNo').val("");
                    $('#ModalQtnDate').val("");
                    $('#ModalUnitPrice').val("");
                    $('#ModalTotal').val("");


                    var sites = "<select id='ModalSiteId'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#ModalSiteId').html(sites);

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });

        $("#ModalSiteId").change(function () {
            var SiteId = $('#ModalSiteId option:selected ').val();
            var ProjectId = $('#ModalProjectId option:selected').val();

            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqNo",
                data: { SiteId, ProjectId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ModalRequisition').removeAttr("disabled");
                    var listOfitems = data.Items.length;
                    var items = "<select id='ModalRequisition'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ModalRequisition').html(items);

                }

            });
        });

        $("#ModalRequisition").change(function () {
            var Rcode = $('#ModalRequisition  option:selected').text();
            var SiteId = $('#ModalSiteId  option:selected').val();
            var ProjectId = $('#ModalProjectId option:selected').val();


            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqitem",
                data: { Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var listOfitems = data.Items.length;

                    $('#ModalItemName').removeAttr("disabled");
                    var items = "<select id='ModalItemName'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ModalItemName').html(items);

                }

            });
        });

        $("#ModalItemName").change(function () {
            var ItemId = $('#ModalItemName option:selected').val();
            var Rcode = $('#ModalRequisition  option:selected').text();
            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetUnit",
                data: { ItemId, Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ModalUnit').val(data.UnitId);
                    $('#ModalUnitName').val(data.UnitName);
                    $('#ModalQty').val(data.Qty);

                    $('#ModalProc_RequisitionDetId').val(data.Proc_RequisitionDetId);
                }

            });
        });

        $('#ProjectId').change(function () {
            var id = $('#ProjectId option:selected').val();

            $.ajax({
                url: "/TenderQuotation/GetSites",
                type: "post",
                data: {
                    ProjectId: id
                },
                dataType: "json",
                success: function (data) {
                    $('#SiteId').removeAttr("disabled");
                    var listOfSites = data.Sites.length;

                    $('#SiteId').empty();
                    $('#RCode').empty();
                    $('#ItemName').empty();
                    $('#UnitId').val("");
                    $('#UnitName').val("");
                    $('#ModalQty').val("");
                    $('#VendorId').val("");
                    $('#Qty').val("");
                    $('#TQNo').val("");
                    $('#TQDate').val("");
                    $('#TQPrice').val("");
                    $('#TotalPrice').val("");

                    var sites = "<select id='sites'>";
                    sites = sites + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfSites; i++) {
                        sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                    }
                    sites = sites + '</select>';
                    $('#SiteId').html(sites);

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });


        $("#SiteId").change(function () {
            var SiteId = $('#SiteId').val();
            var ProjectId = $('#ProjectId option:selected').val();

            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqNo",
                data: { SiteId, ProjectId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#RCode').removeAttr("disabled");

                    var listOfitems = data.Items.length;
                    var items = "<select id='RCode'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#RCode').html(items);

                }

            });
        });

        $("#RCode").change(function () {
            var Rcode = $('#RCode  option:selected').text();
            var SiteId = $('#SiteId  option:selected').val();
            var ProjectId = $('#ProjectId option:selected').val();

            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetReqitem",
                data: { Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ItemName').removeAttr("disabled");
                    var listOfitems = data.Items.length;

                    var items = "<select id='ItemName'>";
                    items = items + '<option value="">--Select--</option>';
                    for (var i = 0; i < listOfitems; i++) {
                        items = items + '<option value=' + data.Items[i].Value + '>' + data.Items[i].Text + '</option>';
                    }
                    items = items + '</select>';
                    $('#ItemName').html(items);

                }

            });
        });

        $("#ItemName").change(function () {
            var ItemId = $('#ItemName option:selected').val();
            var Rcode = $('#RCode  option:selected').text();
      
            $.ajax({
                type: "post",
                url: "/TenderQuotation/GetUnit",
                data: { ItemId, Rcode },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#UnitId').val(data.UnitId);
                    $('#UnitName').val(data.UnitName);
                    $('#Qty').val(data.Qty);

                    $('#Proc_RequisitionDetId').val(data.Proc_RequisitionDetId);
                }

            });
        });


        $(document).on({
            'change': function () {
                var price = $(this).val();
                var quantity = $('#Qty').val();
                var totalPrice = price * quantity;
                if (isNaN(totalPrice)) {
                    alert('Unit Price must be a numeric value!!')
                    $('#TQPrice').val("");
                    $('#TotalPrice').val("");
                }
                else {
                    $('#TotalPrice').val(totalPrice);
                }
            }
        }, 'input[name=unitPrice]');

        //add new row
        $('#addNewRow').click(function (event) {
            event.preventDefault();
            counter++;
            var isAllValid = true;

            var ProjectId = $('#ProjectId option:selected').val();
            var ProjectName = $('#ProjectId option:selected').text();
            var SiteId = $('#SiteId option:selected').val();
            var SiteName = $('#SiteId option:selected').text();
            var RCode = $('#RCode option:selected').val();
            var RCodeName = $('#RCode option:selected').text();
            var ItemId = $('#ItemName option:selected').val();
            var ItemName = $('#ItemName option:selected').text();
            var Proc_RequisitionDetId = $('#Proc_RequisitionDetId').val();
            var Qty = $('#Qty').val();
            var UnitId = $('#UnitId').val();
            var UnitName = $('#UnitName').val();
            var VendorId = $('#VendorId option:selected').val();
            var VendorName = $('#VendorId option:selected').text();
            var TQNo = $('#TQNo').val();
            var TQDate = $('#TQDate').val();
            var TQPrice = $('#TQPrice').val();
            var TotalPrice = $('#TotalPrice').val();
            var Status = 'N';
            TenderDetailId++;



            if (ProjectName.trim() == "" || ProjectName.trim() == "Select Project") {
                $('#ProjectName_Error').show();
                isAllValid = false;
            }
            else {
                $('#ProjectName_Error').hide();
            }
            if (SiteName.trim() == "" || SiteName.trim() == "Select Site") {
                $('#SiteName_Error').show();
                isAllValid = false;
            }
            else {
                $('#SiteName_Error').hide();
            }
            if (RCode.trim() == "" || RCode.trim() == "Select Requisition") {
                $('#ReqNo_Error').show();
                isAllValid = false;
            }
            else {
                $('#ReqNo_Error').hide();
            }
            if (ItemName.trim() == "" || ItemName.trim() == "Select Item") {
                $('#ItemName_Error').show();
                isAllValid = false;
            }
            else {
                $('#ItemName_Error').hide();
            }
            if (VendorName.trim() == "" || VendorName.trim() == "Select Vendor") {
                $('#VendorName_Error').show();
                isAllValid = false;
            }
            else {
                $('#VendorName_Error').hide();
            }
            if (TQPrice.trim() == "") {
                $('#UnitPrice_Error').show();
                isAllValid = false;
            }
            else {
                $('#UnitPrice_Error').hide();
            }

            $('table.Resource-list tr').each(function () {
                var Item = $(this).find("td input[name=ItemName]").val();
                var VName = $(this).find("td input[name=VendorName]").val();
                if (ItemName == Item && VendorName == VName.trim()) {
                    alert('This vendor already exists!');
                    isAllValid = false;
                }
            });

            

            if (isAllValid) {
                var newRow = jQuery('<tr>'
                     +'<td class="index"><label name="TaskId">'+ counter + '</label><input type="hidden" name="SLNo" value="'+counter+'"/><input type="hidden" name="TenderDetailId" value="'+TenderDetailId+'"/></td>'
                    + '<td><input value="' + ProjectId + '" type="hidden" name="ProjectId"/><input type="text" value="'+ ProjectName+'" class="form-control" name="ProjectName"  style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + SiteId + '" type="hidden" name="SiteId"/><input type="text" value="'+ SiteName+'" class="form-control" name="SiteName"  style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + RCode + '" type="hidden" class="form-control" name="ReqCode"/><input value="' + RCodeName + '" type="text" class="form-control" name="RCodeName" style="width:90px;" disabled="disabled"/><input value="' + Proc_RequisitionDetId + '" type="hidden" name="Proc_RequisitionDetId"/></td>'
                    + '<td><input value="' + ItemId + '" type="hidden" name="ItemId"/><input value="' + ItemName + '" class="form-control" type="text" name="ItemName" style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + Qty + '" type="text" name="Qty" class="form-control" style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + UnitId + '" type="hidden" name="UnitId"/><input value="' + UnitName + '" class="form-control" type="text" name="UnitName" style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + VendorId + '" type="hidden" name="Vendor"/><input value="' + VendorName + '" class="form-control" type="text" name="VendorName" style="width:90px;" disabled="disabled"/></td>'
                    + '<td><input value="' + TQNo + '" type="text" name="TQNo" class="form-control" style="width:110px;"/></td>'
                    + '<td><input value="' + TQDate + '" type="text" name="TQDate" class="form-control datepicker" style="width:90px;"/></td>'
                    + '<td><input value="' + TQPrice + '" type="text" name="TQPrice" class="form-control" style="width:90px;"/></td>'
                    + '<td><input value="' + TotalPrice + '" type="text" name="TotalPrice" class="form-control" style="width:90px;" disabled="disabled"/><input  class="Status"  value="' + Status + '" type="hidden" name="Status"/></td>'
                    + '<td> '
                     + '<button type="button" id="editSite" class="btn text-primary-400 btn-flat btn-icon btn-rounded  btn-xs editSite " data-toggle="modal" data-target="#detailForm"><i class="icon-pencil"></i></button>'
                    +' <button class="btn  text-warning-600 btn-flat btn-icon btn-rounded"  onclick="$(this).parent().parent().remove();"><i class="icon-cross"></i></button><input type="checkbox"/>'
                    +'</td></tr>');

                RebindDatePicker();

                jQuery('table.Resource-list').append(newRow);

                $('#ProjectId').val("");
                $('#SiteId').val("");
                $('#RCode').val("");
                $('#ItemName').val("");
                $('#Qty').val("");
                $('#UnitName').val("");
                $('#TQNo').val("");
                $('#TQDate').val("");
                $('#TQPrice').val("");
                $('#TotalPrice').val("");

                $('#SiteId').attr("disabled", true);
                $('#RCode').attr("disabled", true);
                $('#ItemName').attr("disabled", true);

                RebindDatePicker();

                $('.editSite').click(function () {

                    var row = $(this).closest('tr');
                    selRow = $(this).closest('tr');                            

                    var ProjectId = row.find('input[name=ProjectId]').val();
                    var ProjectName = row.find('input[name=ProjectName]').val();
                    var SiteId = row.find('input[name=SiteId]').val();
                    var SiteName = row.find('input[name=SiteName]').val();
                    var RCode = row.find('input[name=ReqCode]').val();
                    var itemId = row.find('input[name=ItemId]').val();
                    var Qty = row.find('input[name=Qty]').val();
                    var UnitId = row.find('input[name=UnitId]').val();
                    var UnitName = row.find('input[name=UnitName]').val();
                    var Vendor = row.find('input[name=Vendor]').val();
                    var TQNo = row.find('input[name=TQNo]').val();
                    var TQDate = row.find('input[name=TQDate]').val();
                    var TQPrice = row.find('input[name=TQPrice]').val();
                    var TotalPrice = row.find('input[name=TotalPrice]').val();



                    $('#ModalProjectId').val(ProjectId);
                    $('#ModalSiteId').val(SiteId);
                    $('#ModalRequisition').val(RCode);
                    $('#ModalItemName').val(itemId);
                    $('#ModalQty').val(Qty);
                    $('#ModalUnit').val(UnitId);
                    $('#ModalUnitName').val(UnitName);                       
                    $('#ModalVendor').val(Vendor);
                    $('#ModalQtnNo').val(TQNo);
                    $('#ModalQtnDate').val(TQDate);
                    $('#ModalUnitPrice').val(TQPrice);
                    $('#ModalTotal').val(TotalPrice);

                });
            }

        });

        $('#SaveItem').click(function (e) {

            if ($.trim($('#TNo').val()) === "") {
                alert('Tender No. required');
                $('#ReqDate').focus();
            }
            else if ($.trim($('#TDate').val()) === "") {
                alert('Please insert Requisition No.');
                $('#Rcode').focus();
            }
            else if ($('.Resource-list tr').length < 2) {
                alert('Please Add Item to this Tender!!');
            }
            else {
                CreateSitePlanTask();
            }
        });

        function CreateSitePlanTask() {

            $(':checkbox').each(function (i) {
                if($(this).is(':checked') ){
                    $(this).closest('tr').find("td:eq(11) input.Status").val('A');
                }
                else{
                    $(this).closest('tr').find("td:eq(11) input.Status").val('N');
                }
            });


            //==========Master Form==========

            var TenderId = $("#TenderId").val();
            var TNo = $("#TNo").val();
            var TDate = $("#TDate").val();
            var Specs = $("#Specs").val();
            var TenderRemarks = $("#TenderRemarks").val();



            //===========Detail Form===========
            var RCode = document.getElementsByName("ReqCode");
            var TenderDetailId = document.getElementsByName("TenderDetailId");
            var Proc_RequisitionDetId = document.getElementsByName("Proc_RequisitionDetId");
            var VendorId = document.getElementsByName("Vendor");
            var TQNo = document.getElementsByName("TQNo");
            var TQDate = document.getElementsByName("TQDate");
            var TQPrice = document.getElementsByName("TQPrice");
            var Status = document.getElementsByName("Status");

            var TenderItems = [];


            var tableCounter = $('#RequisitionDetails tr').length - 1;

            for (var i = 0; i < tableCounter; i++) {
                TenderItems.push({
                    TenderDetailId:TenderDetailId[i].value,
                    RCode: RCode[i].value,
                    Proc_RequisitionDetId: Proc_RequisitionDetId[i].value,
                    VendorId: VendorId[i].value,
                    TQNo: TQNo[i].value,
                    TQDate: TQDate[i].value,
                    TQPrice: TQPrice[i].value,
                    Status: Status[i].value
                });
                console.log('---------->');
                console.log('RCode: ' + TenderItems[i].RCode);
                console.log('Proc_RequisitionDetId: ' + TenderItems[i].Proc_RequisitionDetId);
                console.log('VendorId: ' + TenderItems[i].VendorId);
                console.log('TQNo: ' + TenderItems[i].TQNo);
                console.log('TQDate: ' + TenderItems[i].TQDate);
                console.log('TQPrice: ' + TenderItems[i].TQPrice);
                console.log('Status: ' + TenderItems[i].Status);
                console.log('---------->');

            }

            TaskDetails = JSON.stringify({
                TenderItems: TenderItems,
                DeleteItems:deleteList,
                TenderId:TenderId,
                TNo: TNo,
                TDate: TDate,
                Specs: Specs,
                TenderRemarks: TenderRemarks
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/TenderQuotation/EditTender',
                data: TaskDetails,
                success: function (result) {
                    console.log(result);
                    if (result.flag === true) {
                        alert("Record save successfully!");

                        $('#TNo').val("");
                        $('#TDate').val("");
                        $('#Specs').val("");
                        $('#TenderRemarks').val("");

                        window.location.replace("/TenderQuotation/Index");
                    }
                    else {
                        alert(result.message);
                    }

                },
                failure: function (response) {
                    alert('error');
                }
            });

        }


        $('#ApproveItem').click(function(){
            var isApproved ="A";
            var TenderMasId = $("#TenderId").val();
            var approveCounter =0;


            $(':checkbox').each(function (i) {
                if($(this).is(':checked') ){
                    $(this).closest('tr').find("td:eq(11) input.Status").val('A');
                    approveCounter++;
                }
                else{
                    $(this).closest('tr').find("td:eq(11) input.Status").val('N');
                }


            });

            if(approveCounter==0)
            {
                alert('Please select atleast one item');
            }
            else{
                var TenderDetailId = document.getElementsByName("TenderDetailId");
                var RCode = document.getElementsByName("ReqCode");

                var Proc_RequisitionDetId = document.getElementsByName("Proc_RequisitionDetId");
                var VendorId = document.getElementsByName("Vendor");
                var TQNo = document.getElementsByName("TQNo");
                var TQDate = document.getElementsByName("TQDate");
                var TQPrice = document.getElementsByName("TQPrice");
                var Status = document.getElementsByName("Status");

                var TenderItems = [];


                var tableCounter = $('#RequisitionDetails tr').length - 1;

                for (var i = 0; i < tableCounter; i++) {
                    TenderItems.push({
                        TenderDetailId:TenderDetailId,
                        RCode: RCode[i].value,
                        Proc_RequisitionDetId: Proc_RequisitionDetId[i].value,
                        VendorId: VendorId[i].value,
                        TQNo: TQNo[i].value,
                        TQDate: TQDate[i].value,
                        TQPrice: TQPrice[i].value,
                        Status: Status[i].value                      
                    });
                    console.log('---------->');
                    console.log('RCode: ' + TenderItems[i].RCode);
                    console.log('Proc_RequisitionDetId: ' + TenderItems[i].Proc_RequisitionDetId);
                    console.log('VendorId: ' + TenderItems[i].VendorId);
                    console.log('TQNo: ' + TenderItems[i].TQNo);
                    console.log('TQDate: ' + TenderItems[i].TQDate);
                    console.log('TQPrice: ' + TenderItems[i].TQPrice);
                    console.log('Status: ' + TenderItems[i].Status);
                    console.log('---------->');

                }
                TaskDetails = JSON.stringify({
                    TenderItems: TenderItems,
                    //DeleteItems:deleteList,
                    TenderMasId : TenderMasId,
                    isApproved: isApproved
                });

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/TenderQuotation/ApproveTender',
                    data: TaskDetails,
                    success: function (result) {
                        console.log(result);
                        if (result.flag === true) {
                            alert("Record approved successfully!");
                            window.location.replace("/TenderQuotation/Index");
                        }
                        else {
                            alert(result.message);
                        }

                    },
                    failure: function (response) {
                        alert('error');
                    }
                });
            }

        });




        function RebindDatePicker() {
            $('.datepicker').datepicker("destroy");
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
                todayBtn: true,
            });

        }
    </script>


    <style>
        span.error {
            display: block;
            color: red;
            font-size: 90%;
        }

       .scrolling {
            width: 100%;
            height: 350px;
            overflow-x: scroll;
            overflow-y: scroll;
        }
    </style>
   