@model DhaliProcurement.ViewModel.VMPurchaseOrder
@{
    ViewBag.Title = "Purchase Order";
}


<div class="row">
    <div class="col-md-12">
        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create New Purchase Order</h5><hr />
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <table class="table">

                        <tr>
                            <td>PO No</td>
                            <td>
                                @Html.TextBox("PONo", "", new { @class = "form-control" })
                            </td>
                            <td>PO Date</td>
                            <td>
                                @Html.TextBox("PODate", "", new { @class = "form-control datepicker" })
                            </td>
                        </tr>



                        <tr>
                            @*<td>Project</td>
                            <td>

                                @Html.DropDownList("ProjectId", null, "--Select--", htmlAttributes: new { @id = "ProjectId", @class = "form-control select2" })
                                @Html.ValidationMessage("ProjectId", "", new { @class = "text-danger" })

                            </td>*@

                            <td class="col-lg-2">Project</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.DropDownList("ProjectId", null, "--Select--", htmlAttributes: new { @id = "ProjectId", @class = "form-control select2" })
                                @Html.ValidationMessage("ProjectId", "", new { @class = "text-danger" })
                            </td>


                        </tr>
                        <tr>
                            <td class="col-lg-2">Site Name</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.DropDownList("SiteId", null, "--Select--", htmlAttributes: new { @id = "SiteId", @class = "form-control select2" })
                                @Html.ValidationMessage("SiteId", "", new { @class = "text-danger" })
                            </td>
                        </tr>



                        <tr>
                            <td class="col-lg-2">Address</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.TextBox("PurchaseAddress", "", new { @class = "form-control" })
                            </td>
                        </tr>


                        <tr>
                            <td class="col-lg-2">Tender No</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.DropDownList("TenderId", null, "--Select--", htmlAttributes: new { @id = "TenderId", @class = "form-control select2" })
                                @Html.ValidationMessage("TenderId", "", new { @class = "text-danger" })
                            </td>
                        </tr>


                        <tr>
                            <td>Vendor</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.DropDownList("VendorId", null, "--Select--", htmlAttributes: new { @id = "VendorId", @class = "form-control select2" })
                                @Html.ValidationMessage("VendorId", "", new { @class = "text-danger" })
                            </td>
                        </tr>




                        <tr>
                            <td>Attention</td>
                            <td>
                                @Html.TextBox("VContactPerson", null, new { @class = "form-control" })
                                @*<input id="VContactPerson" type="text" class="form-control"/>*@
                            </td>

                            <td>To</td>
                            <td>
                                @Html.TextBox("ProjectManager", null, new { @class = "form-control" })
                            </td>
                        </tr>


                        <tr>
                            <td>Cell</td>
                            <td>
                                @Html.TextBox("Cell", null, new { @id = "AttnCell", @class = "form-control" })
                            </td>

                            <td>Email</td>
                            <td>
                                @Html.TextBox("Email", null, new { @class = "form-control" })
                            </td>
                        </tr>



                        <tr>
                            <td class="col-lg-2">Subject</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.TextBox("Subject", null, new { @class = "form-control" })
                            </td>

                          
                        </tr>

                        <tr>
                            <td class="col-lg-2">Lead Time</td>
                            <td class="col-lg-2" colspan="1">
                                @Html.TextBox("LeadTime", null, new { @class = "form-control" })

                            </td>
                        </tr>



                        <tr>
                            <td class="col-lg-1">Content</td>
                            <td class="col-lg-8" colspan="5">
                                @Html.TextArea("Content", null, new { @class = "form-control" })
                            </td>
                        </tr>



                        <tr>
                            <td class="col-lg-1">Receive Concern Person</td>
                            <td class="col-lg-2" colspan="1">
                                @Html.TextBox("RcvConcenPerson", null, new { @class = "form-control" })
                            </td>

                            <td >Cell</td>
                            <td>
                                @Html.TextBox("Cell", null, new { @id = "RcvPersonCell", @class = "form-control" })
                            </td>
                        </tr>

                    </table>
                    <hr />

                }


                <div class="details well" style=" border 1px solid black;">
                    <h4>Purchase Order Items</h4>
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-size: 15px; font-weight: bold;">Item Name</td>
                            <td style="font-size: 15px; font-weight: bold;">Unit</td>
                            <td style="font-size: 15px; font-weight: bold;">Size</td>
                            <td style="font-size: 15px; font-weight: bold;">Unit Price</td>
                            <td style="font-size: 15px; font-weight: bold;">Requisition Qty</td>
                            <td style="font-size: 15px; font-weight: bold;">PO Quantity</td>
                            <td style="font-size: 15px; font-weight: bold;">Total Price</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>

                            <td>
                                @Html.DropDownList("ItemName", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ItemName", @style = "width: 150px;" })
                            </td>

                            <td>
                                <input type="text" id="UnitName" class="form-control" disabled="disabled" />
                                <input type="hidden" id="UnitId" value="" />
                            </td>

                            <td>
                                <input type="text" id="Size" class="form-control" disabled="disabled" />

                            </td>

                            <td>
                                <input type="text" id="UnitPrice" class="form-control" disabled="disabled" />

                            </td>

                            <td>
                                <input type="text" id="RequisitionQty" class="form-control" disabled="disabled" />

                            </td>
                            <td>
                                <input type="text" id="POQuantity1" name="POQuantity1" class="form-control" />

                            </td>
                            <td>
                                <input type="text" id="TotalPrice1" class="form-control" disabled="disabled" />

                            </td>
                            <td>
                                <input type="button" id="addNewRow" value="+" class="btn btn-primary" style="background-color: grey;border: none;" />

                            </td>
                        </tr>

                        <tr>
                            <td><span class="error" id="ItemName_Error">Item name required</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="error" id="POQuantity_Error">PO Quantity required</span></td>
                            <td></td>

                        </tr>

                    </table>
                    <br />
                    <table class="Resource-list table table-bordered" id="Item-list">
                        <tr class="bg-grey">
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Size</th>
                            <th>Unit Price</th>
                            <th> Requisition Qty</th>
                            <th>PO Quantity</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>

                        <tfoot>
                            <tr>
                                @*<td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>*@
                                <td colspan="6" style="text-align:right;"><b>Total Cost</b></td>
                                <td><input type="text" value="" id="totalCost" class="form-control" disabled="disabled" /></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <button type="button" id="SaveItem" class="btn btn-primary"><i class="icon-add position-left"></i> Create</button>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staffModalTitle">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="ProjectId" value="" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Item Name", htmlAttributes: new
                       {
                           @class = "control-label col-md-2"@*, @style="font-weight:bold;"*@ })
                            <div class="col-md-10">
                                @Html.DropDownList("ItemName", null, "Select item", htmlAttributes: new { @class = "form-control select2", @data_required = "required", @id = "ModalItemName", @style = "width: 150px;" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="hidden" id="modalunitId" />
                                @Html.TextBox("ModalUnitName", null, new { @class = "form-control", @disabled = "disabled" })
                                @*@Html.DropDownList("Unit", null, "Select unit", htmlAttributes: new { @class = "form-control select2", @id = "ModalUnit", @data_required = "required", @style = "width: 150px;" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Size", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalSize", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalUnitPrice", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Requisition Qty", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalRequisitionQty", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("PO Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalPOQuantity", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Total Price", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.TextBox("ModalTotalPrice", null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                       
                        <div class="modal-footer">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" id="ModalDetailSave">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var counter = 0; //counter for the serial
    var selRow;

    $(document).on({
        'change': function () {
            var price = $('#UnitPrice').val();
            //alert('Unit Price :' + price);
            var quantity = $('#POQuantity1').val();
            var totalPrice = price * quantity;
            //alert('ttl'+totalPrice);
            $('#TotalPrice1').val(totalPrice);
        }
    }, 'input[name=POQuantity1]');


    $(document).on({
        'change': function () {
            var price = $(this).closest('tr').find("td:eq(3) input.UnitPriceNew").val();
            //var row = $(this).closest('tr');

            //alert('Unit Price :' + price);
            var quantity = $(this).closest('tr').find("td:eq(5) input.POQuantityNew").val();
            //alert('quantity :' + quantity);
            var totalPrice = price * quantity;

            if (isNaN(totalPrice)) {
                alert('Unit Price must be a numeric value!!')
                //$('#TQPrice').val("");
                //$('#TotalPrice').val("");
            }
            else {
                $(this).closest('tr').find("td:eq(6) input.TotalPriceNew").val(totalPrice);
            }
        }
    }, 'input[name=POQuantity]');



    //add new row
    $('#addNewRow').click(function (event) {
        event.preventDefault();
        counter++;
        var ItemId = $('#ItemName option:selected').val();
        //alert('Item ' + ItemId);

        var ItemName = $('#ItemName option:selected').text();
        //alert('Item ' + ItemName);
        var UnitName = $('#UnitName').val();
        //alert('nameee ' + UnitName);

        var UnitId = $('#UnitId').val();
        //alert('uiddddddd ' + UnitId);
        var Size = $('#Size').val();
        //alert('size ' + Size);

        var UnitPrice = $('#UnitPrice').val();
        var RequisitionQty = $('#RequisitionQty').val();
        //alert('UnitPrice ' + UnitPrice);
        var POQuantity = $('#POQuantity1').val();
        //alert('POQuantity ' + POQuantity);
        var TotalPrice = $('#TotalPrice1').val();
        //alert('TotalPrice ' + TotalPrice);
        //new
        var isValidItem = true;

        if ($('#ItemName').val().trim() == '') {
            $('#ItemName_Error').show();
            isValidItem = false;
            //$('#ItemName').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#ItemName_Error').hide();
        }

        if (!($('#POQuantity1').val().trim() != '' && !isNaN($('#POQuantity1').val().trim()))) {
            isValidItem = false;
            $('#POQuantity_Error').show();
        }
        else {
            $('#POQuantity_Error').hide();
        }

        $('table.Resource-list tr').each(function () {
            var Item = $(this).find("td input[name=ItemName1]").val();
            if (ItemName == Item) {
                alert('This item already exists!');
                isValidItem = false;
            }
        });
        //Add item to list if valid
        if (isValidItem) {

            var newRow = jQuery('<tr>'
              + '<td> <input value="' + ItemId + '" type="hidden" name="ItemId"/> <input class="form-control" value="' + ItemName + '" readonly="true" type="text" name="ItemName"/></td>'
              + '<td><input value="' + UnitId + '" type="hidden" name="UnitId"/><input class="form-control" value="' + UnitName + '" readonly="true" type="text" name="UnitName"/></td>'
              + '<td><input class="form-control" value="' + Size + '" type="text" name="Size" disabled="disabled"/></td>'
              + '<td><input class="form-control UnitPriceNew" value="' + UnitPrice + '"  type="text" name="UnitPrice" disabled="disabled"/></td>'
               + '<td><input class="form-control RequisitionQty" value="' + RequisitionQty + '" type="text" name="RequisitionQty" disabled="disabled"/></td>'
              + '<td><input class="form-control POQuantityNew" value="' + POQuantity + '" type="text" name="POQuantity"/></td>'
              + '<td><input class="form-control TotalPriceNew" value="' + TotalPrice + '" type="text" readonly="true" name="TotalPrice"/></td>'
              //+ '<td><button class="btn  text-warning-600 btn-flat btn-icon btn-rounded"  onclick="$(this).parent().parent().remove();"><i class="icon-cross"></i></button></td>'
           
                 + '<td> '
                    + '<button type="button" id="editSite" class="btn text-primary-400 btn-flat btn-icon btn-rounded  btn-xs editSite " data-toggle="modal" data-target="#detailForm"><i class="icon-pencil"></i></button>'
                 + '<button type="button" class="btn text-warning-600 btn-flat btn-icon btn-rounded deleteClick" value="Delete"><i class="icon-cross"></i></button></td>'
              + '</tr>');

            jQuery('table.Resource-list').append(newRow);
            totalItemCost();

            $('.deleteClick').click(function () {

                $(this).parent().parent().remove();
                totalItemCost();
            });

            // $('#POQuantity').val("");
            //$('#TotalPrice').val("");
            //$('#Size').val("");
            //$('#UnitName').val("");
            //$('#UnitPrice').val("");

            $('.editSite').click(function () {
                var row = $(this).closest('tr');
                selRow = $(this).closest('tr');

                var itemName = row.find('input[name=ItemName]').val();
                var itemId = row.find('input[name=ItemId]').val();
                var UnitName = row.find('input[name=UnitName]').val();
                var UnitId = row.find('input[name=UnitId]').val();
                var Size = row.find('input[name=Size]').val();
                var UnitPrice = row.find('input[name=UnitPrice]').val();
                var RequisitionQty = row.find('input[name=RequisitionQty]').val();
                var POQuantity = row.find('input[name=POQuantity]').val();
                var TotalPrice = row.find('input[name=TotalPrice]').val();

                //$('#ModalItemName').val(SiteName);
                $('#ModalItemName').val(itemId).change();
                $('#modalunitId').val(UnitId);
                $('#ModalUnitName').val(UnitName);
                $('#ModalSize').val(Size);
                $('#ModalUnitPrice').val(UnitPrice);
                $('#ModalRequisitionQty').val(RequisitionQty);
                $('#ModalPOQuantity').val(POQuantity);
                $('#ModalTotalPrice').val(TotalPrice);

                totalItemCost();
            });
        }

        $('#TotalPrice1').val("");
        $('#Size').val("");
        $('#UnitName').val("");
        $('#UnitPrice').val("");
        $('#RequisitionQty').val("");
        $('#POQuantity1').val("");

        //end
    });


    $('#ModalDetailSave').click(function () {
        var ItemName = $('#ModalItemName option:selected').text();
        var ItemId = $('#ModalItemName option:selected').val();
        var Unitid = $('#modalunitId').val();
        var UnitName = $('#ModalUnitName').val();
        var ModalSize = $('#ModalSize').val();
        var ModalUnitPrice = $('#ModalUnitPrice').val();
        var ModalRequisitionQty = $('#ModalRequisitionQty').val();
        var ModalPOQuantity = $('#ModalPOQuantity').val();
        //var ModalTotalPrice = $('#ModalTotalPrice').val();
        var ModalTotalPrice = ModalUnitPrice * ModalPOQuantity;


        selRow.find('input[name=ItemName]').val(ItemName);
        selRow.find('input[name=ItemId]').val(ItemId);
        selRow.find('input[name=UnitName]').val(UnitName);
        selRow.find('input[name=UnitId]').val(Unitid);
        selRow.find('input[name=Size]').val(ModalSize);
        selRow.find('input[name=UnitPrice]').val(ModalUnitPrice);
        selRow.find('input[name=RequisitionQty]').val(ModalRequisitionQty);
        selRow.find('input[name=POQuantity]').val(ModalPOQuantity);
        selRow.find('input[name=TotalPrice]').val(ModalTotalPrice);

        $('#detailForm').modal('hide');
        totalItemCost();
    });



    $('#Item-list').on({
        'change': function () {
            var ItemTotalCost = 0;
            for (var cn = 1; cn < $('#Item-list tr').length - 1; cn++) {
                var quantity = $('#Item-list tr').eq(cn).find("td input[name=POQuantity]").val();
                // console.log('Quantity: ' + quantity);
                var cost = $('#Item-list tr').eq(cn).find("td input[name=UnitPrice]").val();``
                // console.log('Cost: ' + cost);
                var result = parseFloat(quantity) * parseFloat(cost);
                ItemTotalCost = parseFloat(ItemTotalCost + result);
            }
            $('#totalCost').val(ItemTotalCost);
        }
    });

    function totalItemCost() {
        var ItemTotalCost = 0;
        for (var cn = 1; cn < $('#Item-list tr').length - 1; cn++) {
            var quantity = $('#Item-list tr').eq(cn).find("td input[name=POQuantity]").val();
            console.log('POQuantity: ' + quantity);
            var cost = $('#Item-list tr').eq(cn).find("td input[name=UnitPrice]").val();
            console.log('UnitPrice: ' + cost);
            var result = parseFloat(quantity) * parseFloat(cost);
            ItemTotalCost = parseFloat(ItemTotalCost + result);
        }
        $('#totalCost').val(ItemTotalCost);
    }

    $(document).ready(function () {
        $('#SiteId').attr("disabled", "true");
        $('#TenderId').attr("disabled", "true");
        $('#VendorId').attr("disabled", "true");
        $('#ItemName').attr("disabled", "true");
        $('#ItemName_Error').hide();
        $('#POQuantity_Error').hide();
        totalItemCost();
    });

    $('#SaveItem').click(function (e) {
        //alert('Length:' + $('.Resource-list tr').length)
        //if ($('#ProjectId option:selected').text() === "--Select--") {
        //    alert('Please select project');
        //    $('#ProjectId option:selected').focus();
        //}
        if ($.trim($('#PONo').val()) === "") {
            alert('PO No. required!');
            $('#PONo').focus();
        }
        else if ($.trim($('#PODate').val()) === "") {
            alert('PO Date required!');
            $('#PODate').focus();
        }
        else if ($.trim($('#LeadTime').val()) === "" || isNaN($('#LeadTime').val())) {
            alert('Lead Time required!');
            $('#LeadTime').focus();
        }
        //else if ($('.Resource-list tr').length < 2) {
        //        alert('Please Add Item to this order');
        //    }
        else {
            //alert('All Validation Donne...');
            CreatePurchaseOrder();
        }
    });


    function CreatePurchaseOrder() {
        //==========Master Form==========
        debugger;
        var PONo = $("#PONo").val();
        //alert('PONo: ' + PONo);
        var PODate = $("#PODate").val();
        //alert('PODate: ' + PODate);
        var ProjectId = $("#ProjectId").val();
        //alert('ProjectId: ' + ProjectId);
        var SiteId = $("#SiteId").val();
        //alert('SiteId: ' + SiteId);
        var PurchaseAddress = $("#PurchaseAddress").val();
        //alert('PurchaseAddress: ' + PurchaseAddress);
        var VendorId = $("#VendorId option:selected").val();
        //alert('VendorId: ' + VendorId);
        var TenderId = $("#TenderId option:selected").val();
        //alert('TenderId: ' + TenderId);
        var VContactPerson = $("#VContactPerson").val();
        //alert('VContactPerson: ' + VContactPerson);
        var ProjectManager = $("#ProjectManager").val();
        //alert('ProjectManager: ' + ProjectManager);
        var AttnCell = $("#AttnCell").val();
        //alert('AttnCell: ' + AttnCell);
        var Email = $("#Email").val();
        //alert('Email: ' + Email);
        var Subject = $("#Subject").val();
        //alert('Subject: ' + Subject);
        var LeadTime = $("#LeadTime").val();
        //alert('LeadTime: ' + LeadTime);
        var Content = $("#Content").val();
        //alert('Content: ' + Content);
        var RcvConcenPerson = $("#RcvConcenPerson").val();
        //alert('RcvConcenPerson: ' + RcvConcenPerson);
        var RcvPersonCell = $("#RcvPersonCell").val();
        //alert('RcvPersonCell: ' + RcvPersonCell);
        var POTotalAmt = $("#totalCost").val();
        //===========Detail Form===========
        var ItemId = document.getElementsByName("ItemId");
        var ItemName = document.getElementsByName("ItemName");
        //for (var i = 0; i < ItemId.length; i++) {
        //    alert('ItemId '+ItemId[i].value);
        //}
        //alert('ItemId ' + ItemId);
        //var ItemName = document.getElementsByName("ItemName");
        var UnitId = document.getElementsByName("UnitId");
        var UnitName = document.getElementsByName("UnitName");
        //alert('UnitName ' + UnitName);
        var Size = document.getElementsByName("Size");
        //alert('Size ' + Size);
        var UnitPrice = document.getElementsByName("UnitPrice");
        //alert('UnitPrice ' + UnitPrice);
        var POQuantity = document.getElementsByName("POQuantity");
        //alert('POQuantity ' + POQuantity);
        var TotalPrice = document.getElementsByName("TotalPrice");
        //alert('TotalPrice ' + TotalPrice);
        var AddedDetItems = [];
        var tableCounter = $('#Item-list tr').length - 1;
        //alert('Length: ' + tableCounter);
        //  debugger;
        for (var i = 0; i < tableCounter - 1; i++) {
            AddedDetItems.push({
                ItemId: ItemId[i].value,
                ItemName: ItemName[i].value,
                UnitId: UnitId[i].value,
                UnitName: UnitName[i].value,
                Size: Size[i].value,
                UnitPrice: UnitPrice[i].value,
                POQuantity: POQuantity[i].value,
                TotalPrice: TotalPrice[i].value
            });
            console.log('---------->');
            console.log('ItemId: ' + AddedDetItems[i].ItemId);
            console.log('ItemName: ' + AddedDetItems[i].ItemName);
            console.log('UnitId: ' + AddedDetItems[i].UnitId);
            console.log('UnitName: ' + AddedDetItems[i].UnitName);
            console.log('Size: ' + AddedDetItems[i].Size);
            console.log('UnitPrice: ' + AddedDetItems[i].UnitPrice);
            console.log('POQuantity: ' + AddedDetItems[i].POQuantity);
            console.log('TotalPrice: ' + AddedDetItems[i].TotalPrice);
            console.log('---------->');

        }
        ResourceDetails = JSON.stringify({
            AddedDetItems: AddedDetItems,
            PONo: PONo,
            PODate: PODate,
            //ProjectId :ProjectId,
            //SiteId : SiteId,
            //PurchaseAddress : PurchaseAddress,
            VendorId: VendorId,
            TenderId: TenderId,
            VContactPerson: VContactPerson,
            ProjectManager: ProjectManager,
            AttnCell: AttnCell,
            Email: Email,
            Subject: Subject,
            LeadTime: LeadTime,
            Content: Content,
            RcvConcenPerson: RcvConcenPerson,
            RcvPersonCell: RcvPersonCell,
            POTotalAmt: POTotalAmt
        });
        //  debugger;
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/PurchaseOrders/PurchaseCreateOrder',
            data: ResourceDetails,
            success: function (result) {
                console.log(result);
                if (result.flag === true) {
                    alert("Record created successfully!");
                    window.location.replace("/PurchaseOrders/Index");
                }
                else {
                    alert(result.message);
                }
            },
            failure: function (response) {
                alert('error');
            }
        });
    }



    $('#ProjectId').change(function () {
        var id = $('#ProjectId option:selected').val();
        $.ajax({
            url: "/PurchaseOrders/GetPId",
            type: "post",
            data: {
                ProjectId: id
            },
            dataType: "json",
            success: function (data) {
                $('#SiteId').removeAttr("disabled");
                $('#ProjectManager').val(data.manager);
                var listOfSites = data.Sites.length;
                var sites = "<select id='sites'>";
                sites = sites + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfSites; i++) {
                    sites = sites + '<option value=' + data.Sites[i].Value + '>' + data.Sites[i].Text + '</option>';
                }
                sites = sites + '</select>';
                $('#SiteId').html(sites);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });


    $("#SiteId").change(function () {
        var SiteId = $('#SiteId').val();
        $.ajax({
            type: "post",
            url: "/PurchaseOrders/GetSiteLocation",
            data: { SiteId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#TenderId').removeAttr("disabled");
                var listOfSites = data.TenderList.length;
                var sites = "<select id='TenderId'>";
                sites = sites + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfSites; i++) {
                    sites = sites + '<option value=' + data.TenderList[i].Value + '>' + data.TenderList[i].Text + '</option>';
                }
                sites = sites + '</select>';
                $('#TenderId').html(sites);
                $('#PurchaseAddress').val(data.sitesLoc);
                $('#RcvConcenPerson').val(data.siteEngineer);
            }
        });
    });

    $('#TenderId').change(function () {
        var id = $('#TenderId option:selected').val();
        var SiteId = $('#SiteId').val();
        $.ajax({
            url: "/PurchaseOrders/GetVendorId",
            type: "post",
            data: {
                TenderId: id,
                SiteId: SiteId
            },
            dataType: "json",
            success: function (data) {
                $('#VendorId').removeAttr("disabled");
                var listOfSites = data.Vendors.length;
                var sites = "<select id='sites'>";
                sites = sites + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfSites; i++) {
                    sites = sites + '<option value=' + data.Vendors[i].Value + '>' + data.Vendors[i].Text + '</option>';
                }
                sites = sites + '</select>';
                $('#VendorId').html(sites);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });



    $("#VendorId").change(function () {
        var VendorId = $('#VendorId').val();
        var Tenderid = $('#TenderId option:selected').val();
        $.ajax({
            type: "post",
            url: "/PurchaseOrders/GetVendorContactPerson",
            data: { VendorId, Tenderid },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#ItemName').removeAttr("disabled");
                $('#VContactPerson').val(data.vContactPerson);
                var listOfSites = data.ItemList.length;
                var sites = "<select id='ItemName'>";
                sites = sites + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfSites; i++) {
                    sites = sites + '<option value=' + data.ItemList[i].Value + '>' + data.ItemList[i].Text + '</option>';
                }
                sites = sites + '</select>';
                $('#ItemName').html(sites);


                

                var sites = "<select id='ModalItemName'>";
                sites = sites + '<option value="">--Select--</option>';
                for (var i = 0; i < listOfSites; i++) {
                    sites = sites + '<option value=' + data.ItemList[i].Value + '>' + data.ItemList[i].Text + '</option>';
                }
                sites = sites + '</select>';
                $('#ModalItemName').html(sites);
            }
        });
    });

    //debugger;
    $("#ItemName").change(function () {
        var ItemId = $('#ItemName option:selected').val();
        //alert('itemid ' + ItemId);
        $.ajax({
            type: "post",
            url: "/PurchaseOrders/GetSelectedItemInfo",
            data: { ItemId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#UnitId').val(data.UnitId);
                $('#UnitName').val(data.Unit);
                $('#Size').val(data.Size);
                $('#UnitPrice').val(data.UnitPrice);
                $('#RequisitionQty').val(data.ReqQty);
            }
        });
    });




</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Plugins/select2/select2.min.js"></script>
    <script>
        //22 jan 2017
        $(".select2").select2();
        //$(".datepicker").datepicker();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            todayBtn: true,
            autoclose: true
        });
    </script>
}

<style>
    /*.scrolling {
        width: 100%;
        height: 350px;
        /*border: 13px solid #bed5cd;
        overflow-x: scroll;
        overflow-y: scroll;
    }*/
    span.error {
        display: block;
        /*visibility: hidden;*/
        color: red;
        font-size: 90%;
    }
</style>